<div id="addBudgetItem" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">Add Budget Item</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputName"
                               name="inputName"
                               ng-model="formData['Name']"
                               required
                               autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription" class="col-sm-2 control-label">Description:</label>
                        <textarea
                                  class="col-sm-7"
                                  id="inputDescription"
                                  name="inputDescription"
                                  ng-model="formData['Description']"
                                  rows="5" cols="40">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputQuantity" class="col-sm-2 control-label">Quantity:</label>
                        <input type="number"
                               class="col-sm-7"
                               id="inputQuantity"
                               name="inputQuantity"
                               ng-model="formData['Quantity']">
                    </div>
                    <div class="form-group">
                        <label for="inputUnit" class="col-sm-2 control-label">Unit:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputUnit"
                               name="inputUnit"
                               ng-model="formData['Unit']">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" ng-click="addNode()">Save</button>
                <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
