<div id="addBudgetItem" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">{{modalState}} Budget Item</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="addBudgetItemForm" novalidate>
                    <div class="form-group"
                        ng-class="{'has-error': addBudgetItemForm.inputName.$invalid}">
                        <label for="inputName" class="col-sm-2 control-label">Name:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputName"
                               name="inputName"
                               ng-model="formData['Name']"
                               required
                               autofocus>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': addBudgetItemForm.inputDescription.$invalid}">
                        <label for="inputDescription" class="col-sm-2 control-label">Description:</label>
                        <textarea
                                  class="col-sm-7"
                                  id="inputDescription"
                                  name="inputDescription"
                                  ng-model="formData['Description']"
                                  rows="5" cols="40">
                        </textarea>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': addBudgetItemForm.inputQuantity.$invalid}">
                        <label for="inputQuantity" class="col-sm-2 control-label">Quantity:</label>
                        <input type="number"
                               class="col-sm-7"
                               id="inputQuantity"
                               name="inputQuantity"
                               ng-model="formData['Quantity']">
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': addBudgetItemForm.inputItemQuantity.$invalid}">
                        <label for="inputItemQuantity" class="col-sm-2 control-label">Item Quantity:</label>
                        <input type="number"
                               class="col-sm-7"
                               id="inputItemQuantity"
                               name="inputItemQuantity"
                               ng-model="formData['ItemQuantity']">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-show="modalState == 'Add'" class="btn btn-primary" data-dismiss="modal"
                  ng-disabled="!addBudgetItemForm.$valid" ng-click="addNode()">Save</button>
                <button ng-show="modalState == 'Edit'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!addBudgetItemForm.$valid" ng-click="saveNodeEdits()">Update</button>
                <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
