<div id="addbudgetgroup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">Add Budget Group</h3>
            </div>
            <div class="modal-body">
                <form>
                    <br>Name:
                    <input type="text"
                            name="inputName"
                            ng-model="formData.inputName"
                            required
                            autofocus>
                    <br>Description:
                    <input type="textarea"
                            name="inputDescription"
                            ng-model="formData.inputDescription"
                            style="width: 300px; height: 150px;"
                            autofocus>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()" data-dismiss="modal">Save</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
