<div id="addBudgetItem" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true" data-ng-show="calculatorHidden">&times;</button>
                <button type="button" class="close" data-ng-click="toggleCalculator()"
                        aria-hidden="true" data-ng-show="!calculatorHidden">&times;</button>
                <h3 class="modal-title">{{modalState}} Budget Item</h3>
            </div>
            <div class="modal-body">
                <div data-ng-show="calculatorHidden">
                    <form class="form-horizontal" name="addBudgetItemForm" novalidate>
                        <div class="form-group">
                            <label for="inputName"
                                   class="col-sm-2 control-label">Resource:
                            </label>
                            <ui-select data-ng-model="formData.selected"
                                        id="inputName"
                                        tagging="tagTransform"
                                        tagging-label="false"
                                        tagging-tokens="['ENTER'|'TAB']"
                                        on-select="resourceSelected($item, formData.NodeType)"
                                        theme="bootstrap"
                                        reset-search-input="true"
                                        class="col-sm-7"
                                        ng-required="!addBudgetItemForm.has_selection">
                                <ui-select-match placeholder="Search or enter a new name">
                                    {{$select.selected.Name}}
                                </ui-select-match>
                                <ui-select-choices repeat="resource in resourceList"
                                                 refresh="refreshResources($select.search)"
                                                 refresh-delay="300">
                                    <div ng-bind-html="resource.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="description">Description:</label>
                            <textarea class="col-sm-7" id="description"
                                      name="description"
                                      ng-model="formData.selected.Description"
                                      ng-disabled="addBudgetItemForm.has_selection"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputQuantity" class="col-sm-2 control-label">Quantity:</label>
                            <input type="text"
                                   smart-float
                                   min="0"
                                   class="col-sm-1"
                                   id="inputQuantity"
                                   name="inputQuantity"
                                   ng-model="formData.selected.Quantity">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="rate">Rate:</label>
                            <input class="col-sm-2" id="rate"
                                   type="text"
                                   smart-float
                                   name="rate"
                                   ng-model="formData.selected.Rate"
                                   ng-disabled="addBudgetItemForm.has_selection"
                                   required />
                          <!--  <ul class="nav nav-pills no-top-margin">
                                <li>
                                    <a role="button"
                                       data-ng-click="toggleCalculator()"
                                       title="Rate Calculator">
                                        <i class="fa fa-calculator"></i>
                                    </a>
                                </li>
                            </ul> -->
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="resourcetype">Type:</label>
                            <select class="chosen width20"
                                    chosen
                                    inherit_select_classes="true"
                                    id="resourcetype"
                                    name="resourcetype"
                                    ng-disabled="addBudgetItemForm.has_selection"
                                    ng-model="formData.selected.ResourceTypeID"
                                    ng-options="type.ID as type.Name for type in restypeList"
                                    required>
                                <option value="">Select a type</option>
                            </select>
                        </div>
                        <div data-ng-show="formData.NodeType == 'BudgetItem'">
                          <div data-ng-show="addBudgetItemForm.has_selection">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="display: block;" >Markup:
                                </label>
                                <table>
                                    <tr data-ng-repeat="overhead in budgetItemOverheadList">
                                        <td>{{overhead.Name}} &nbsp;</td>
                                        <td>
                                            <button class="custom-checkbox"
                                                  data-ng-click="overhead.selected = !overhead.selected">
                                                <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o', false:'fa fa-square-o'}[overhead.selected]">
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                          </div>
                        </div>
                    <form>
                </div>
                <div class="center" data-ng-show="!calculatorHidden">
                    <div class="calc-main">
                        <div class="calc-display">
	                        <span>0</span>
	                        <div class="calc-rad">Rad</div>
	                        <div class="calc-hold"></div>
	                        <div class="calc-buttons">
		                        <div class="calc-info">?</div>
		                        <div class="calc-smaller">&gt;</div>
		                      <!--  <div class="calc-ln">.</div> -->
	                        </div>
                        </div>
                        <div class="calc-left">
	                        <div><div>2nd</div></div>
	                        <div><div>(</div></div>
	                        <div><div>)</div></div>
	                        <div><div>%</div></div>
	                        <div><div>1/x</div></div>
	                        <div><div>x<sup>2</sup></div></div>
	                        <div><div>x<sup>3</sup></div></div>
	                        <div><div>y<sup>x</sup></div></div>
	                        <div><div>x!</div></div>
	                        <div><div>&radic;</div></div>
	                        <div><div class="calc-radxy">
		                        <sup>x</sup><em>&radic;</em><span>y</span>
	                        </div></div>
	                        <div><div>log</div></div>
	                        <div><div>sin</div></div>
	                        <div><div>cos</div></div>
	                        <div><div>tan</div></div>
	                        <div><div>ln</div></div>
	                        <div><div>sinh</div></div>
	                        <div><div>cosh</div></div>
	                        <div><div>tanh</div></div>
	                        <div><div>e<sup>x</sup></div></div>
	                        <div><div>Deg</div></div>
	                        <div><div>&pi;</div></div>
	                        <div><div>EE</div></div>
	                        <div><div>Rand</div></div>
                        </div>
                        <div class="calc-right">
	                        <div><div>mc</div></div>
	                        <div><div>m+</div></div>
	                        <div><div>m-</div></div>
	                        <div><div>mr</div></div>
	                        <div class="calc-brown"><div >AC</div></div>
	                        <div class="calc-brown"><div>+/&#8211;</div></div>
	                        <div class="calc-brown calc-f19"><div>&divide;</div></div>
	                        <div class="calc-brown calc-f21"><div>&times;</div></div>
	                        <div class="calc-black"><div>7</div></div>
	                        <div class="calc-black"><div>8</div></div>
	                        <div class="calc-black"><div>9</div></div>
	                        <div class="calc-brown calc-f18"><div>&#8211;</div></div>
	                        <div class="calc-black"><div>4</div></div>
	                        <div class="calc-black"><div >5</div></div>
	                        <div class="calc-black"><div>6</div></div>
	                        <div class="calc-brown calc-f18"><div>+</div></div>
	                        <div class="calc-black"><div>1</div></div>
	                        <div class="calc-black"><div>2</div></div>
	                        <div class="calc-black"><div>3</div></div>
	                        <div class="calc-blank"><textarea></textarea></div>
	                        <div class="calc-orange calc-eq calc-f17"><div>
		                        <div class="calc-down">=</div>
	                        </div></div>
	                        <div class="calc-black calc-zero"><div>
		                        <span>0</span>
	                        </div></div>
	                        <div class="calc-black calc-f21"><div>.</div></div>
                        </div>
                    </div>
                   <!-- <script src="js/calculator.js"></script> -->
                </div>
            </div>
            <div class="modal-footer" data-ng-show="calculatorHidden">
                <button ng-show="modalState == 'Add'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!addBudgetItemForm.$valid"
                 ng-click="addNode()">Save</button>
                <button ng-show="modalState == 'Edit'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!addBudgetItemForm.$valid"
                 ng-click="saveNodeEdits()">Update</button>
                <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            </div>
            <div class="modal-footer" data-ng-show="!calculatorHidden">
                <button type="select" class="btn btn-primary" data-ng-click="toggleCalculator()">Close Calculator</button>
            </div>
        </div>
    </div>
</div>
