<div id="addComponent" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">Add Component</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputResources"
                               class="col-sm-2 control-label">Resource:
                        </label>
                        <div id="content">
                            <div id="related_items_finder"
                                 class="finder icons-on col-sm-7"
                                 data-url="http://127.0.0.1:8100">
                                <ul class="finder-choices">
                                    <li class="search-field">
                                        <input type="text" style="width: 172px;" autocomplete="off"
                                               class="default" id="inputResources"
                                               data-placeholder="Click to search or browse">
                                    </li>
                                </ul>
                                <div style="left: -9000px; width: 99.9%; top: 29px;" class="finder-dropdown">
                                    <div class="finder-pathbar">
                                        <strong>You are here:</strong>
                                        <span class="internalpath">
                                            <span>Home</span>
                                        </span>
                                    </div>
                                    <ul class="finder-results">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputQuantity" class="col-sm-2 control-label">Quantity:</label>
                        <input type="number"
                               class="col-sm-7"
                               id="inputQuantity"
                               name="inputQuantity"
                               ng-model="formData['Quantity']">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="display: block;" >Overhead:
                        </label>
                        <div ng-repeat="overhead in componentOverheadList">
                            <span>{{overhead.Name}}</span>
                            <span>
                                <input  type="checkbox" value="{{overhead.Name}}" ng-model="overhead.selected">
                            </span>
                        </div>
                    </div>
                <form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" ng-click="selectedResource(); selectedType(); addNode()">Save</button>
                <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
