<div id="addComponent" class="modal fade" ng-click="closeDropdown($event)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">{{modalState}} Component</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="addComponentForm" novalidate>
                    <div class="form-group"
                        ng-class="{'has-error': addComponentForm.inputResources.$invalid}">
                        <label for="inputResources"
                               class="col-sm-2 control-label">Resource:
                        </label>
                        <div id="content">
                            <div id="related_items_finder"
                                 class="finder icons-on col-sm-7">
                                <ul class="finder-choices">
                                    <li class="search-field">
                                        <input type="text" autocomplete="off"
                                               size="62"
                                               class="default" id="inputResources" name="inputResources"
                                               ng-model="formData['inputResources']"
                                               placeholder="Click to search or browse or enter the Name of a new component"
                                               ng-required="!addComponentForm.has_selection">
                                    </li>
                                </ul>
                                <div style="left: -9000px; width: 99.9%; top: 29px;" class="finder-dropdown">
                                    <div class="finder-pathbar">
                                        <strong>You are here:</strong>
                                        <span class="internalpath">
                                            <span>Home</span>
                                        </span>
                                        <div class="pull-right">
                                            <a ng-show="searching"
                                               href=""
                                               title="Abandon search"
                                               ng-click="finder.listdir()"
                                               ><i class="glyphicon glyphicon-trash"> </i></a>
                                            <a href=""
                                               title="Refresh list"
                                               ng-click="refreshResourceList()"
                                               ><i class="glyphicon glyphicon-refresh"> </i></a>
                                        </div>
                                    </div>
                                    <ul class="finder-results">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="description">Description:</label>
                        <textarea class="col-sm-7" id="description"
                                  name="description"
                                  ng-model="formData['Description']"
                                  ng-disabled="addComponentForm.has_selection"></textarea>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': addComponentForm.inputQuantity.$invalid}">
                        <label for="inputQuantity" class="col-sm-2 control-label">Quantity:</label>
                        <input type="number"
                               min="1"
                               class="col-sm-1"
                               id="inputQuantity"
                               name="inputQuantity"
                               ng-model="formData['Quantity']">
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': addComponentForm.rate.$invalid}">
                        <label class="col-sm-2 control-label"
                               for="rate">Rate:</label>
                        <input class="col-sm-7" id="rate"
                               type="smartFloat"
                               name="rate"
                               ng-model="formData['Rate']"
                               ng-disabled="addComponentForm.has_selection"
                               required />
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': addComponentForm.resourcetype.$invalid}"
                    >
                        <label class="col-sm-2 control-label"
                               for="resourcetype">Type:</label>
                        <select chosen
                                class="col-sm-7"
                                id="resourcetype"
                                name="resourcetype"
                                ng-disabled="addComponentForm.has_selection"
                                ng-model="formData['ResourceType']"
                                ng-options="type.Name as type.Name for type in restypeList"
                                required>
                            <option value="">Select a type</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="display: block;" >Overhead:
                        </label>
                        <table>
                            <tr data-ng-repeat="overhead in componentOverheadList">
                                <td>{{overhead.Name}} &nbsp;</td>
                                <td>
                                    <button class="custom-checkbox"
                                          data-ng-click="overhead.selected = !overhead.selected">
                                        <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o', false:'fa fa-square-o'}[overhead.selected]">
                                        </i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                <form>
            </div>
            <div class="modal-footer">
                <button ng-show="modalState == 'Add'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!addComponentForm.$valid"
                 ng-click="selectedResource(); addNode()">Save</button>
                <button ng-show="modalState == 'Edit'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!addComponentForm.$valid"
                 ng-click="selectedResource(); saveNodeEdits()">Update</button>
                <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
