<div id="addResourceCategory" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">{{modalState}} Resource Category</h3>                
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="addResourceCategoryForm" novalidate>
                    <div class="form-group"
                        ng-class="{'has-error': addResourceCategoryForm.inputName.$invalid}">
                        <label for="inputName" class="col-sm-2 control-label">Name:</label>
                        <input type="text"
                               class="col-sm-7"                        
                               id="inputName"
                               name="inputName"
                               ng-model="formData['Name']"
                               required
                               autofocus>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': addResourceCategoryForm.inputDescription.$invalid}">
                        <label for="inputDescription" class="col-sm-2 control-label">Description:</label>
                        <textarea id="inputDescription"
                                  class="col-sm-7"                        
                                  name="inputDescription"
                                  ng-model="formData['Description']"
                                  rows="5" cols="40">
                        </textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-show="modalState == 'Add'" class="btn btn-primary" data-dismiss="modal" 
                 ng-disabled="!addResourceCategoryForm.$valid" ng-click="addNode()">Save</button>
                <button ng-show="modalState == 'Edit'" class="btn btn-primary" data-dismiss="modal" 
                 ng-disabled="!addResourceCategoryForm.$valid" ng-click="saveNodeEdits()">Update</button>
                <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
