<div id="addResource" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">{{modalState}} Resource</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="addResourceForm" novalidate>
                    <div class="form-group"
                        ng-class="{'has-error': addResourceForm.inputName.$invalid}">
                        <label for="inputName" class="col-sm-2 control-label">Name:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputName"
                               name="inputName"
                               ng-model="formData['Name']"
                               required
                               autofocus>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': addResourceForm.inputDescription.$invalid}">
                        <label for="inputDescription" class="col-sm-2 control-label">Description:</label>
                        <textarea id="inputDescription"
                                  class="col-sm-7"
                                  name="inputDescription"
                                  ng-model="formData['Description']"
                                  rows="5" cols="40">
                        </textarea>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': addResourceForm.inputProductCode.$invalid}">
                        <label for="inputProductCode" class="col-sm-2 control-label">Product Code:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputProductCode"
                               name="inputProductCode"
                               ng-model="formData['Code']"
                               required>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': addResourceForm.inputRate.$invalid}">
                        <label for="inputRate" class="col-sm-2 control-label">Rate:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputRate"
                               name="inputRate"
                               ng-model="formData['Rate']"
                               smart-float>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': addResourceForm.inputUnit.$invalid}">
                        <label for="inputUnit" class="col-sm-2 control-label">Unit:</label>
                        <select class="col-sm-7"
                                id="inputUnit"
                                name="inputUnit"
                                data-ng-model="formData['Unit']"
                                data-ng-options="unit.ID as unit.Name for unit in unitList"
                                required>
                            <option value="">Select a unit</option>
                        </select>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': addResourceForm.inputType.$invalid}">
                        <label for="inputType" class="col-sm-2 control-label">Type:</label>
                        <select class="col-sm-7"
                                id="inputType"
                                name="inputType"
                                data-ng-model="formData['ResourceType']"
                                data-ng-options="type.Name as type.Name for type in restypeList"
                                required>
                            <option value="">Select a type</option>
                        </select>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': addResourceForm.inputSupplier.$invalid}">                    
                        <label for="inputSupplier" class="col-sm-2 control-label">Supplier:</label>
                        <select class="col-sm-7"
                                id="inputSupplier"
                                name="inputSupplier"
                                data-ng-model="formData['Supplier']"
                                data-ng-options="supplier.ID as supplier.Name for supplier in supplierList">
                            <option value="">Select a supplier</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-show="modalState == 'Add'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!addResourceForm.$valid" ng-click="addNode()">Save</button>
                <button ng-show="modalState == 'Edit'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!addResourceForm.$valid" ng-click="saveNodeEdits()">Update</button>
                <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
