<div id="editOverheads" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">Overheads</h3>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Percentage</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="overhead in overheadList track by overhead.ID">
                            <td>{{overhead.Name}}</td>
                            <td>{{overhead.Percentage}}%</td>
                            <td>
                                <button data-ng-click="deleteOverhead(overhead.ID, $index)" 
                                        title="Delete this overhead">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" ng-model="newOverhead.Name" placeholder="Name">
                            </td>
                            <td>
                                <input type="text" ng-model="newOverhead.Percentage" 
                                       placeholder="Percentage">%
                            </td>
                            <td>
                                <button data-ng-click="addOverhead(currentNode.ID)"
                                        title="Add a new overhead">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" 
                        data-ng-click="clearInput()">Save</button>
                <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
