<div id="editSelectionMarkup" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">Edit markup</h3>
            </div>
            <div class="modal-body">
                <label>
                    Apply markup to the selected items:
                </label>
                <table>
                    <tr data-ng-repeat="overhead in budgetItemOverheadList">
                        <td>{{overhead.Name}} &nbsp;</td>
                        <td>
                            <button class="custom-checkbox"
                                  data-ng-click="overhead.selected = !overhead.selected">
                                <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o', false:'fa fa-square-o'}[overhead.selected]">
                                </i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" data-ng-click="applyMarkupToSelection()"
                        class="btn btn-primary" data-dismiss="modal">Done
                </button>
            </div>
        </div>
    </div>
</div>
