<div id="editCompanyInformation" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">Edit Company Information</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="EditCompanyInformationForm" novalidate>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputName"
                               name="inputName"
                               ng-model="formData.Name"
                               required
                               autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress" class="col-sm-2 control-label">Address:</label>
                        <textarea id="inputAddress"
                                  class="col-sm-7"
                                  name="inputAddress"
                                  ng-model="formData.Address"
                                  rows="5" cols="40">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputTel" class="col-sm-2 control-label">Tel:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputTel"
                               name="inputTel"
                               ng-model="formData.Tel">
                    </div>
                    <div class="form-group">
                        <label for="inputFax" class="col-sm-2 control-label">Fax:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputFax"
                               name="inputFax"
                               ng-model="formData.Fax">
                    </div>
                    <div class="form-group">
                        <label for="inputCell" class="col-sm-2 control-label">Cell:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputCell"
                               name="inputCell"
                               ng-model="formData.Cell">
                    </div>
                    <div class="form-group">
                        <label for="inputBankName" class="col-sm-2 control-label">Bank Name:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputBankName"
                               name="inputBankName"
                               ng-model="formData.BankName">
                    </div>
                    <div class="form-group">
                        <label for="inputBranchCode" class="col-sm-2 control-label">Branch Code:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputBanchCode"
                               name="inputBranchCode"
                               ng-model="formData.BranchCode">
                    </div>
                    <div class="form-group">
                        <label for="inputAccountNo" class="col-sm-2 control-label">Account No:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputAccountNo"
                               name="inputAccountNo"
                               ng-model="formData.AccountNo">
                    </div>
                    <div class="form-group">
                        <label for="inputAccountName" class="col-sm-2 control-label">Account Name:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputAccountName"
                               name="inputAccountName"
                               ng-model="formData.AccountName">
                    </div>
                    <div class="form-group">
                        <label for="inputDefaultTaxrate" class="col-sm-2 control-label">Default Taxrate:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputDefaultTaxrate"
                               name="inputDefaultTaxrate"
                               ng-model="formData.DefaultTaxrate">
                    </div>
                    <div class="form-group">
                        <label for="inputCurrency" class="col-sm-2 control-label">Currency:</label>
                        <select chosen="{width: '59%'}"
                                id="inputCurrency"
                                name="inputCurrency"
                                data-ng-model="formData.Currency"
                                data-ng-options="currency[0] as currency[0] + ': ' + currency[1] for currency in currencies"
                                required>
                            <option value="">Select a currency</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputHeader" class="col-sm-2 control-label">Header image:</label>
                        <img class="thumb" ng-src="{{formData.Header}}" />
                        <input type='file' ng-model-instant onchange="angular.element(this).scope().headerUpload(this)" />
                    </div>
                    <div class="form-group">
                        <label for="inputFooter" class="col-sm-2 control-label">Footer image:</label>
                        <img class="thumb" ng-src="{{formData.Footer}}" />
                        <input type='file' ng-model-instant onchange="angular.element(this).scope().footerUpload(this)" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                ng-disabled="!EditCompanyInformationForm.$valid"
                ng-click="disableButton(); save()">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
