<div id="invoicesReport" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">Invoices Report</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="invoiceReportForm" novalidate>
                    <div class="form-group">
                        <label class="col-sm-3">Filter on:
                        </label>
                        <table>
                            <tr data-ng-click="formData.FilterByProject = !formData.FilterByProject">
                                <td>
                                    <button class="custom-checkbox" ng-model="formData.FilterByProject">
                                        <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o', false:'fa fa-square-o'}[formData.FilterByProject]"></i>
                                    </button>
                                    Project
                                </td>
                            </tr>
                            <tr data-ng-click="formData.FilterBySupplier = !formData.FilterBySupplier">
                                <td>
                                    <button class="custom-checkbox" ng-model="formData.FilterBySupplier">
                                        <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o', false:'fa fa-square-o'}[formData.FilterBySupplier]"></i>
                                    </button>
                                    Supplier
                                </td>
                            </tr>
                            <tr data-ng-if="paymentDatesExist" data-ng-click="formData.FilterByPaymentDate = !formData.FilterByPaymentDate">
                                <td>
                                    <button class="custom-checkbox" ng-model="formData.FilterByPaymentDate">
                                        <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o', false:'fa fa-square-o'}[formData.FilterByPaymentDate]"></i>
                                    </button>
                                    Payment Date
                                </td>
                            </tr>
                            <tr data-ng-click="formData.FilterByStatus = !formData.FilterByStatus">
                                <td>
                                    <button class="custom-checkbox" ng-model="formData.FilterByStatus">
                                        <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o', false:'fa fa-square-o'}[formData.FilterByStatus]"></i>
                                    </button>
                                    Status
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group" data-ng-show="formData.FilterByProject">
                        <label for="inputProject" class="col-sm-3">Project:</label>
                        <select chosen="{width: '59%'}"
                                id="inputProject"
                                name="inputProject"
                                data-ng-model="formData['Project']"
                                data-ng-options="project.ID as project.Name for project in invoiceReportProjectsList">
                            <option value="">Select a project</option>
                        </select>
                    </div>
                    <div class="form-group" data-ng-show="formData.FilterBySupplier">
                        <label for="inputSupplier" class="col-sm-3">Supplier:</label>
                        <select chosen="{width: '59%'}"
                                id="inputSupplier"
                                name="inputSupplier"
                                data-ng-model="formData['Supplier']"
                                data-ng-options="supplier.ID as supplier.Name for supplier in invoiceReportSuppliersList">
                            <option value="">Select a supplier</option>
                        </select>
                    </div>
                    <div class="form-group" data-ng-show="formData.FilterByPaymentDate">
                        <label for="inputPaymentDate" class="col-sm-3">Payment Date:</label>
                        <select chosen="{width: '59%'}"
                                id="inputPaymentDate"
                                name="inputPaymentDate"
                                data-ng-model="formData['PaymentDate']"
                                data-ng-options="pd as pd for pd in invoiceReportPaymentDateList">
                            <option value="">Select a payment date</option>
                        </select>
                    </div>
                    <div class="form-group" data-ng-show="formData.FilterByStatus">
                        <label for="inputStatus" class="col-sm-3">Status:</label>
                        <select chosen="{width: '59%'}"
                                id="inputStatus"
                                name="inputStatus"
                                data-ng-model="formData['Status']"
                                data-ng-options="status as status for status in invoiceReportStatusList">
                            <option value="">Select a status</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button data-ng-show="selectedReportType == 'pdf'" class="btn btn-primary" data-dismiss="modal"
                    data-ng-click="getReport('invoices')">Print PDF</button>
                <button data-ng-show="selectedReportType == 'excel'" class="btn btn-primary" data-dismiss="modal"
                    data-ng-click="getExcelReport('invoices')">Print Excel</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
