<div id="resourceListReport" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">Resource List Report</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="resourceListReportForm" novalidate>
                    <div class="form-group">
                        <label class="col-sm-3"
                                data-ng-click="filterBySupplier = !filterBySupplier">
                                Filter by Supplier:
                        </label>
                        <button class="custom-checkbox" ng-model="filterBySupplier"
                              data-ng-click="filterBySupplier = !filterBySupplier">
                            <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o', false:'fa fa-square-o'}[filterBySupplier]">
                            </i>
                        </button>
                    </div>
                    <div class="form-group" data-ng-show="filterBySupplier">
                        <label for="inputSupplier" class="col-sm-3">Supplier:</label>
                        <select chosen="{width: '59%'}"
                                id="inputSupplier"
                                name="inputSupplier"
                                data-ng-model="formData['Supplier']"
                                data-ng-options="supplier.ID as supplier.Name for supplier in suppliersList">
                            <option value="">Select a supplier</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-ng-show="selectedReportType == 'pdf'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!resourceListReportForm.$valid" ng-click="getReport('resourcelist', currentNode.ID)">Print PDF</button>
                <button data-ng-show="selectedReportType == 'excel'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!resourceListReportForm.$valid" ng-click="getExcelReport('resourcelist', currentNode.ID)">Print Excel</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
