<div id="saveUser" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{{modalState}} User</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="saveUserForm">
                    <div class="form-group" ng-show="modalState == 'Add'">
                        <label for="username" class="col-sm-2 control-label">Name:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="username"
                               name="username"
                               ng-model="newuser.username"
                               required
                               autofocus />
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password:</label>
                        <input type="password"
                               class="col-sm-7"
                               id="password"
                               name="password"
                               ng-model="newuser.password"
                               required />
                    </div>
                    <div class="form-group">
                        <table class="table-condensed table-hover modal-table">
                            <thead>
                                <tr>
                                    <th class="modal-table-row-label">Page Permissions: </th>
                                    <th class="modal-table-row"></th>
                                    <th class="modal-table-row"></th>
                                    <th class="modal-table-row"></th>
                                </tr>
                                <tr>
                                    <th class="modal-table-row"></th>
                                    <th class="modal-table-row"></th>
                                    <th class="modal-table-row">Edit</th>
                                    <th class="modal-table-row">View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in newuser.permissions">
                                    <td class="modal-table-row"></td>
                                    <td class="modal-table-row text-capitalize">{{item.Function}}</td>
                                    <td class="modal-table-row">
                                        <button class="custom-checkbox"
                                              data-ng-click="toggleEdit(item)">
                                            <i data-ng-class="{'edit':'fa fa-check-square-o', null:'fa fa-square-o', undefined:'fa fa-square-o', 'view':'fa fa-square-o'}[item.Permission]">
                                            </i>
                                        </button>
                                    </td>
                                    <td class="modal-table-row">
                                        <button class="custom-checkbox"
                                              data-ng-click="toggleView(item)">
                                            <i data-ng-class="{'view':'fa fa-check-square-o','edit':'fa fa-check-square-o', null:'fa fa-square-o', undefined:'fa fa-square-o'}[item.Permission]">
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th class="modal-table-row-label">Workflow Permissions: </th>
                                    <th class="modal-table-row"></th>
                                    <th class="modal-table-row"></th>
                                    <th class="modal-table-row"></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="item in newuser.workflowpermissions">
                                <tr>
                                    <th class="modal-table-row"></th>
                                    <th class="modal-table-row text-capitalize bold">{{item.Function}}</th>
                                    <th class="modal-table-row"></th>
                                    <th class="modal-table-row"></th>
                                </tr>
                                <tr ng-repeat="status in item.Permission">
                                    <td class="modal-table-row"></td>
                                    <td style="padding-left:3em;"
                                        class="modal-table-row">
                                        {{status.Name}}
                                    </td>
                                    <td class="modal-table-row"></td>
                                    <td class="modal-table-row"
                                        data-ng-click="status.selected = !status.selected">
                                        <button class="custom-checkbox">
                                            <i data-ng-class="{true:'fa fa-check-square-o', false:'fa fa-square-o', undefined:'fa fa-square-o'}[status.selected]">
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <label class="col-sm-2 control-label">Page Permissions:</label>
                        <div></br></div>
                        <table class="table table-condensed table-hover modal-table">
                            <thead>
                                <tr>
                                    <th class="modal-table-row"></th>
                                    <th class="modal-table-row">Edit</th>
                                    <th class="modal-table-row">View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in newuser.permissions">
                                    <td class="modal-table-row text-capitalize">{{item.Function}}</td>
                                    <td class="modal-table-row">
                                        <button class="custom-checkbox"
                                              data-ng-click="toggleEdit(item)">
                                            <i data-ng-class="{'edit':'fa fa-check-square-o', null:'fa fa-square-o', undefined:'fa fa-square-o', 'view':'fa fa-square-o'}[item.Permission]">
                                            </i>
                                        </button>
                                    </td>
                                    <td class="modal-table-row">
                                        <button class="custom-checkbox"
                                              data-ng-click="toggleView(item)">
                                            <i data-ng-class="{'view':'fa fa-check-square-o','edit':'fa fa-check-square-o', null:'fa fa-square-o', undefined:'fa fa-square-o'}[item.Permission]">
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Workflow Permissions:</label>
                        <div></br></div>
                        <table class="table table-condensed table-hover modal-table">
                            <tbody ng-repeat="item in newuser.workflowpermissions">
                                <tr><td class="modal-table-row text-capitalize bold">{{item.Function}}</td>
                                    <td class="modal-table-row"></td>
                                    <td class="modal-table-row"></td>
                                </tr>
                                <tr ng-repeat="status in item.Permission">
                                    <td style="padding-left:2em;"
                                        class="modal-table-row">
                                        {{status.Name}}
                                    </td>
                                    <td class="modal-table-row"
                                        data-ng-click="status.selected = !status.selected">
                                        <button class="custom-checkbox">
                                            <i data-ng-class="{true:'fa fa-check-square-o', false:'fa fa-square-o', undefined:'fa fa-square-o'}[status.selected]">
                                            </i>
                                        </button>
                                    </td>
                                    <td class="modal-table-row"></td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-ng-disabled="!saveUserForm.$valid" class="btn btn-primary" ng-click="saveUser()" data-dismiss="modal">Save</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
