<div id="savePaymentModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{{modalState}} an {{formData.NodeType}}</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="savePaymentModalForm" novalidate>
                    <div class="form-group">
                        <label for="inputRefNumber" class="col-sm-2 control-label">Reference number:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputRefNumber"
                               name="inputRefNumber"
                               data-ng-model="formData.ReferenceNumber">
                    </div>
                    <div class="form-group">
                        <label for="inputProject" class="col-sm-2 control-label">Project:</label>
                        <select chosen="{width: '59%'}"
                                id="inputProject"
                                name="inputProject"
                                data-ng-model="formData.ProjectID"
                                data-ng-options="project.ID as project.Name for project in projectsList"
                                data-ng-change="loadProjectClaims(formData.ProjectID); formData.ClaimID=undefined"
                                required>
                            <option value="">Select a project</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputClaim" class="col-sm-2 control-label">Claim:</label>
                        <select chosen="{width: '59%'}"
                                id="inputClaim"
                                name="inputClaim"
                                data-ng-model="formData.ClaimID"
                                data-ng-options="claim.ID as claim.ID for claim in claimsList"
                                data-ng-change="claimSelected(formData.ClaimID)"
                                required>
                            <option value="">Select a claim</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputDate" class="col-sm-2 control-label">Payment Date:</label>
                        <div id="inputDate"
                            class="dropdown">
                            <a class="dropdown-toggle"
                                id="datePaymentDropdown"
                                role="button"
                                data-toggle="dropdown" href="">
                                <div class="input-group">
                                    <input type="text"
                                            date-parser="DD/MM/YYYY"
                                            class="col-sm-7 form-control custom-datepicker"
                                            data-ng-model="formData.Date">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="formData.Date"
                                    data-datetimepicker-config="{ dropdownSelector: '#datePaymentDropdown' ,
                                                                    minView:'day'}"/>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAmount" class="col-sm-2 control-label">Amount:</label>
                        <input type="text"
                               class="col-sm-2"
                               id="inputAmount"
                               name="inputAmount"
                               data-ng-model="formData.Amount"
                               smart-float>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-ng-show="modalState == 'Add'" class="btn btn-primary" data-dismiss="modal"
                 data-ng-disabled="!savePaymentModalForm.$valid" data-ng-click="save()">
                    Save
                </button>
                <button data-ng-show="modalState == 'Edit'" class="btn btn-primary" data-dismiss="modal"
                 data-ng-disabled="!savePaymentModalForm.$valid" data-ng-click="save()">
                    Update
                </button>
                <button class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
