<div id="saveInvoiceModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{{modalState}} an {{formData.NodeType}}</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="saveInvoiceModalForm" novalidate>
                    <div class="form-group">
                        <label for="inputOrderNumber" class="col-sm-2 control-label">Order Number:</label>
                        <ui-select data-ng-model="formData.selected"
                                    id="inputOrderNumber"
                                    on-select="orderSelected($item)"
                                    theme="bootstrap"
                                    ng-disabled="disabled"
                                    reset-search-input="false"
                                    class="col-sm-7"
                                    required>
                            <ui-select-match placeholder="Enter order number">
                                {{$select.selected.ID}}
                            </ui-select-match>
                            <ui-select-choices repeat="order in ordersList"
                                             refresh="refreshOrders($select.search)"
                                             refresh-delay="300">
                                <div ng-bind-html="''+order.ID | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label for="inputInvoiceDate" class="col-sm-2 control-label">Invoice Date:</label>
                        <div id="inputInvoiceDate"
                            class="dropdown">
                            <a class="dropdown-toggle"
                                id="dateInvoiceDropdown"
                                role="button"
                                data-toggle="dropdown" href="">
                                <div class="input-group">
                                    <input type="text"
                                            date-parser="DD MMMM YYYY"
                                            class="col-sm-7 form-control custom-datepicker"
                                            data-ng-model="formData.Invoicedate">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="formData.Invoicedate"
                                    data-datetimepicker-config="{ dropdownSelector: '#dateInvoiceDropdown' ,
                                                                    minView:'day'}"/>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPaymentDate" class="col-sm-2 control-label">Payment Date:</label>
                        <div id="inputPaymentDate"
                            class="dropdown">
                            <a class="dropdown-toggle"
                                id="datePaymentDropdown"
                                role="button"
                                data-toggle="dropdown" href="">
                                <div class="input-group">
                                    <input type="text"
                                            date-parser="DD MMMM YYYY"
                                            class="col-sm-7 form-control custom-datepicker"
                                            data-ng-model="formData.Paymentdate">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="formData.Paymentdate"
                                    data-datetimepicker-config="{ dropdownSelector: '#datePaymentDropdown' ,
                                                                    minView:'day'}"/>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAmount" class="col-sm-2 control-label">Amount:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputAmount"
                               name="inputAmount"
                               data-ng-model="formData.Amount"
                               data-ng-change="updateAmounts()"
                               data-ng-model-options="{ debounce: 200 }"
                               smart-float>
                    </div>
                    <div class="form-group">
                        <label for="inputVAT" class="col-sm-2 control-label">VAT amount:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputVAT"
                               name="inputVAT"
                               ng-model="formData.VAT"
                               data-ng-change="updateAmounts()"
                               data-ng-model-options="{ debounce: 200 }"
                               smart-float>
                    </div>
                    <div class="form-group">
                        <label for="amountsTable" class="col-sm-2 control-label">Amounts:</label>
                        <div id="amountsTable" class="col-sm-7">
                            <table class="table">
                                <tbody>
                                    <tr ng-repeat="amount in calculatedAmounts">
                                        <td>{{amount.name}}</td>
                                        <td class="currency" ng-bind-html="amount.amount | currency:currency"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-ng-show="modalState == 'Add'" class="btn btn-primary" data-dismiss="modal"
                 data-ng-disabled="!saveInvoiceModalForm.$valid" data-ng-click="save()">
                    Save
                </button>
                <button data-ng-show="modalState == 'Edit'" class="btn btn-primary" data-dismiss="modal"
                 data-ng-disabled="!saveInvoiceModalForm.$valid" data-ng-click="save()">
                    Update
                </button>
                <button class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
