<div id="saveOrderModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true" data-ng-show="isCollapsed">&times;</button>
                <button type="button" class="close" data-ng-click="toggleBudgetItemsGrid()"
                        aria-hidden="true" data-ng-show="!isCollapsed">&times;</button>
                <h3 data-ng-show="selectedOrders[0].Status != 'Processed'"
                    class="modal-title">{{modalState}} an {{formData.NodeType}}</h3>
                <h3 data-ng-show="selectedOrders[0].Status == 'Processed'"
                    class="modal-title">Order {{selectedOrders[0].ID}}</h3>
            </div>
            <div class="order-modal-body">
                <div data-ng-show="isCollapsed">
                    <div data-ng-show="selectedOrders[0].Status == 'Processed'">
                        <div data-ng-include="'modal_templates/viewOrderModal.html'">
                        </div>
                    </div>
                    <form class="form-horizontal"  name="saveOrderModalForm" novalidate>
                        <div data-ng-show="selectedOrders[0].Status != 'Processed'">
                            <div class="form-group" data-ng-show="modalState == 'Edit'">
                                <label for="orderNumber" class="col-sm-2 control-label">Order Number:</label>
                                <p class="col-sm-7"
                                        id="orderNumber"
                                        name="orderNumber">
                                        {{formData.ID}}
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="inputDescription" class="col-sm-2 control-label">Description:</label>
                                <textarea id="inputDescription"
                                          class="col-sm-7"
                                          name="inputDescription"
                                          data-ng-model="formData.Description"
                                          rows="3" cols="40">
                                </textarea>
                            </div>
                            <div data-ng-show="modalState == 'Add'">
                                <div class="form-group" data-ng-show="!orderFormProjectsDisabled">
                                    <label for="inputProject" class="col-sm-2 control-label">Project:</label>
                                    <select chosen="{width: '59%'}"
                                            id="inputProject"
                                            name="inputProject"
                                            data-ng-model="formData['ProjectID']"
                                            data-ng-options="project.ID as project.Name for project in projectsList"
                                            data-ng-change="loadProject()"
                                            required>
                                        <option value="">Select a project</option>
                                    </select>
                                </div>
                                <div class="form-group project-dropdown-disabled" data-ng-show="orderFormProjectsDisabled">
                                    <label for="inputProject" class="col-sm-2 control-label">Project:</label>
                                    <select chosen="{width: '59%'}"
                                            id="inputProject"
                                            name="inputProject"
                                            data-ng-model="formData['ProjectID']"
                                            data-ng-options="project.ID as project.Name for project in projectsList"
                                            data-ng-change="loadProject()"
                                            required>
                                        <option value="">Select a project</option>
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="modalState == 'Edit'">
                                <div class="form-group" data-ng-show="!orderFormProjectsDisabled">
                                    <label for="inputProject" class="col-sm-2 control-label">Project:</label>
                                    <select chosen="{width: '59%'}"
                                            id="inputProject"
                                            name="inputProject"
                                            data-ng-model="formData['ProjectID']"
                                            data-ng-options="project.ID as project.Name for project in projectsList"
                                            data-ng-change="loadProject()"
                                            required>
                                        <option value="">Select a project</option>
                                    </select>
                                </div>
                                <div class="form-group project-dropdown-disabled" data-ng-show="orderFormProjectsDisabled">
                                    <label for="inputProject" class="col-sm-2 control-label">Project:</label>
                                    <select chosen="{width: '59%'}"
                                            id="inputProject"
                                            name="inputProject"
                                            data-ng-model="formData['ProjectID']"
                                            data-ng-options="project.ID as project.Name for project in projectsList"
                                            data-ng-change="loadProject()"
                                            required>
                                        <option value="">Select a project</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSupplier" class="col-sm-2 control-label">Supplier:</label>
                                <select chosen="{width: '59%'}"
                                        id="inputSupplier"
                                        name="inputSupplier"
                                        data-ng-model="formData['SupplierID']"
                                        data-ng-options="supplier.ID as supplier.Name for supplier in suppliersList"
                                        required>
                                    <option value="">Select a supplier</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputDate" class="col-sm-2 control-label">Date:</label>
                                <div id="inputDate"
                                    class="dropdown">
                                    <a class="dropdown-toggle"
                                        id="dateDropdown"
                                        role="button"
                                        data-toggle="dropdown" href="">
                                        <div class="input-group">
                                            <input type="text"
                                                    date-parser="DD MMMM YYYY"
                                                    class="col-sm-7 form-control custom-datepicker"
                                                    data-ng-model="formData.Date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.Date"
                                            data-datetimepicker-config="{ dropdownSelector: '#dateDropdown' ,
                                                                            minView:'day'}"/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="order_budgetitems" class="row form-group">
                                <div id="budgetitem-data-grid-outer">
                                    <budgetitemslickgridjs id="budgetitem-data-grid"
                                                        budgetitems="budgetItemsList">
                                    </budgetitemslickgridjs>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div data-ng-show="!isCollapsed">
                    <div role="navigation">
                        <ul class="nav nav-pills">
                            <li role="presentation" data-ng-class="{'budget':'active'}[orderingOn]">
                                <a data-ng-click="orderingOn = 'budget'">Budget</a></li>
                            <li role="presentation" data-ng-class="{'resource':'active'}[orderingOn]">
                                <a data-ng-click="orderingOn = 'resource'">Resource</a></li>
                            <li role="presentation" data-ng-class="{'supplier':'active'}[orderingOn]">
                                <a data-ng-click="orderingOn = 'supplier'">Supplier</a></li>
                        </ul>
                    </div>
                    <div>&nbsp;</div>
                    <div data-ng-switch="orderingOn">
                        <div data-ng-switch-when="budget">
                            <div data-ng-include="'partials/orderTreeview.html'">
                            </div>
                        </div>
                        <div data-ng-switch-when="resource">
                            <label for="inputName"
                                   class="col-sm-2 control-label">Resource:
                            </label>
                            <ui-select data-ng-model="selectedOrderingOn.selected"
                                        id="inputName"
                                        on-select="resourceSelected($item)"
                                        theme="bootstrap"
                                        ng-disabled="disabled"
                                        reset-search-input="true"
                                        class="col-sm-7">
                                <ui-select-match placeholder="Enter a resource name">
                                    {{$select.selected.Name}}
                                </ui-select-match>
                                <ui-select-choices repeat="resource in resourceList"
                                                 refresh="refreshResources($select.search)"
                                                 refresh-delay="1000">
                                    <div ng-bind-html="resource.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div>&nbsp;</div>
                        </div>
                        <div data-ng-switch-when="supplier">
                            <label class="col-sm-2 control-label">Supplier:
                            </label>
                            <select chosen="{width: '59%'}"
                                    id='selectSupplier'
                                    data-ng-model="selectedOrderingOn.supplier"
                                    data-ng-options="supplier.ID as supplier.Name for supplier in suppliersList">
                                <option value="">Supplier</option>
                            </select>
                        </div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div data-ng-show="selectedOrders[0].Status != 'Processed'">
                    <button class="btn btn-default"
                            id="addBudgetItemsButton"
                            data-ng-click="toggleBudgetItemsGrid()"
                            data-ng-show="isCollapsed"
                            tabindex="1"
                            title="Add items"
                            data-ng-disabled="saveOrderModalForm.inputProject.$invalid">
                        <i class="fa fa-plus"> </i>
                    </button>
                    <button class="btn btn-primary"
                            id="addBudgetItemsButton"
                            data-ng-click="loadSelection()"
                            data-ng-show="!isCollapsed"
                            tabindex="1">
                            Submit
                    </button>
                    <button data-ng-show="isCollapsed && rowsSelected"
                            class="btn btn-default pull-left"
                            data-ng-click="deleteSelectedRecords()"
                            title="Delete records">
                        <i class="fa fa-trash"></i>
                    </button>
                    <div data-ng-show="isCollapsed">
                        <button data-ng-show="modalState == 'Add'" class="btn btn-primary" data-dismiss="modal"
                         data-ng-disabled="!saveOrderModalForm.$valid" data-ng-click="save()">
                            Save
                        </button>
                        <button data-ng-show="modalState == 'Edit'" class="btn btn-primary" data-dismiss="modal"
                         data-ng-disabled="!saveOrderModalForm.$valid" data-ng-click="save()">
                            Update
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
                <div data-ng-show="selectedOrders[0].Status == 'Processed'">
                    <button class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
