<div id="saveOrderModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{{modalState}} an {{formData.NodeType}}</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal"  name="saveOrderModalForm" novalidate>
                    <div class="form-group"
                        ng-class="{'has-error': saveOrderModalForm.inputProject.$invalid}">
                        <label for="inputProject" class="col-sm-2 control-label">Project:</label>
                        <select class="col-sm-7"
                                id="inputProject"
                                name="inputProject"
                                data-ng-model="formData['Project']"
                                data-ng-options="project.ID as project.Name for project in projectsList"
                                required>
                            <option value="">Select a project</option>
                        </select>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveOrderModalForm.inputClient.$invalid}">
                        <label for="inputClient" class="col-sm-2 control-label">Client:</label>
                        <select class="col-sm-7"
                                id="inputClient"
                                name="inputClient"
                                data-ng-model="formData['Client']"
                                data-ng-options="client.ID as client.Name for client in clientList"
                                required>
                            <option value="">Select a client</option>
                        </select>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveOrderModalForm.inputSupplier.$invalid}">
                        <label for="inputSupplier" class="col-sm-2 control-label">Supplier:</label>
                        <select class="col-sm-7"
                                id="inputSupplier"
                                name="inputSupplier"
                                data-ng-model="formData['Supplier']"
                                data-ng-options="supplier.ID as supplier.Name for supplier in supplierList"
                                required>
                            <option value="">Select a supplier</option>
                        </select>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveOrderModalForm.inputTaxRate.$invalid}">
                        <label for="inputTaxRate" class="col-sm-2 control-label">Tax Rate:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputTaxRate"
                               name="inputTaxRate"
                               ng-model="formData['TaxRate']">
                    </div>
                    <div id="order_components" class="row">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Component</th>
                                    <th>
                                        <button data-target="#orderTreeModal"
                                                data-toggle="modal"
                                                title="Add">
                                                <i class="fa fa-plus-square"></i>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="comp in formData['ComponentList'] track by comp.ID">
                                    <td>{{comp.Name}}</td>
                                    <td>
                                      <button data-ng-click="removeComponent($index)"
                                              title="Remove">
                                          <i class="fa fa-trash"></i>
                                      </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <div>
            </div>
            <div class="modal-footer">
                <button ng-show="modalState == 'Add'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!saveOrderModalForm.$valid" ng-click="save()">Save</button>
                <button ng-show="modalState == 'Edit'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!saveOrderModalForm.$valid" ng-click="save()">Update</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
