<div id="saveModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{{modalState}} a {{formData.NodeType}}</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal"  name="saveModalForm" novalidate>
                    <div class="form-group"
                        ng-class="{'has-error': saveModalForm.inputName.$invalid}">
                        <label for="inputName" class="col-sm-2 control-label">Name:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputName"
                               name="inputName"
                               ng-model="formData['Name']"
                               required
                               autofocus>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveModalForm.inputAddress.$invalid}">
                        <label for="inputAddress" class="col-sm-2 control-label">Address:</label>
                        <textarea id="inputAddress"
                                  class="col-sm-7"
                                  name="inputAddress"
                                  ng-model="formData['Address']"
                                  rows="5" cols="40">
                        </textarea>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveModalForm.inputCity.$invalid}">
                        <label for="inputCity" class="col-sm-2 control-label">City:</label>
                        <select class="col-sm-7"
                                id="inputCity"
                                name="inputCity"
                                data-ng-model="formData['City']"
                                data-ng-options="city.ID as city.Name for city in cityList">
                            <option value="">Select a city</option>
                        </select>
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveModalForm.inputStateProvince.$invalid}">
                        <label for="inputStateProvince" class="col-sm-2 control-label">State/Province:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputStateProvince"
                               name="inputStateProvince"
                               ng-model="formData['StateProvince']">
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveModalForm.inputStateCountry.$invalid}">
                        <label for="inputStateCountry" class="col-sm-2 control-label">Country:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputStateCountry"
                               name="inputStateCountry"
                               ng-model="formData['Country']">
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveModalForm.inputZip.$invalid}">
                        <label for="inputZip" class="col-sm-2 control-label">Zip Code:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputZip"
                               name="inputZip"
                               ng-model="formData['Zipcode']">
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveModalForm.inputPhone.$invalid}">
                        <label for="inputPhone" class="col-sm-2 control-label">Phone:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputPhone"
                               name="inputPhone"
                               ng-model="formData['Phone']">
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveModalForm.inputCity.$invalid}">
                        <label for="inputFax" class="col-sm-2 control-label">Fax:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputFax"
                               name="inputFax"
                               ng-model="formData['Fax']">
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveModalForm.inputCellular.$invalid}">
                        <label for="inputCellular" class="col-sm-2 control-label">Cellular:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputCellular"
                               name="inputCellular"
                               ng-model="formData['Cellular']">
                    </div>
                    <div class="form-group"
                        ng-class="{'has-error': saveModalForm.inputContact.$invalid}">
                        <label for="inputContact" class="col-sm-2 control-label">Contact:</label>
                        <input type="text"
                               class="col-sm-7"
                               id="inputContact"
                               name="inputContact"
                               ng-model="formData['Contact']">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-show="modalState == 'Add'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!saveModalForm.$valid" ng-click="save()">Save</button>
                <button ng-show="modalState == 'Edit'" class="btn btn-primary" data-dismiss="modal"
                 ng-disabled="!saveModalForm.$valid" ng-click="save()">Update</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
