<form class="form-horizontal" name="viewOrderModalForm">
    <div class="form-group">
        <label for="viewOrderNumber" class="col-sm-2 control-label">Order Number:</label>
        <input type="text"
                data-ng-disabled="true"
                class="col-sm-7"
                id="viewOrderNumber"
                data-ng-model="formData.ID">
    </div>
    <div class="form-group">
        <label for="inputDescription" class="col-sm-2 control-label">Description:</label>
        <textarea id="inputDescription"
                  class="col-sm-7"
                  name="inputDescription"
                  data-ng-model="formData.Description"
                  rows="5" cols="40">
        </textarea>
    </div>
    <div class="form-group">
        <label for="viewOrderProject" class="col-sm-2 control-label">Project:</label>
        <select data-ng-disabled="true"
                class="col-sm-7"
                id="viewOrderProject"
                name="viewOrderProject"
                data-ng-model="formData['ProjectID']"
                data-ng-options="project.ID as project.Name for project in projectsList">
        </select>
    </div>
    <div class="form-group">
        <label for="viewOrderSupplier" class="col-sm-2 control-label">Supplier:</label>
        <select data-ng-disabled="true"
                class="col-sm-7"
                id="viewOrderSupplier"
                name="viewOrderSupplier"
                data-ng-model="formData['SupplierID']"
                data-ng-options="supplier.ID as supplier.Name for supplier in suppliersList">
        </select>
    </div>
    <div class="form-group">
        <label for="viewOrderDate" class="col-sm-2 control-label">Date:</label>
        <input type="text"
                data-ng-disabled="true"
                class="col-sm-2"
                id="viewOrderDate"
                data-ng-model="formData.Date">
    </div>
</form>
