Chameleon==2.22
docutils==0.12
html5lib==0.99999
Mako==1.0.1
MarkupSafe==0.23
Paste==2.0.3
PasteDeploy==1.5.2
Pillow==2.8.2
Products.FinanceFields==1.0
pycrypto==2.6.1
Pygments==2.0.2
PyPDF2==1.24
pyramid==1.5.7
pyramid-chameleon==0.3
pyramid-debugtoolbar==2.4
pyramid-exclog==0.8
pyramid-mako==1.0.2
pyramid-tm==0.12
reportlab==3.2.0
repoze.lru==0.6
six==1.9.0
SQLAlchemy==1.0.5
transaction==1.4.4
translationstring==1.3
venusian==1.0
waitress==0.8.9
WebOb==1.4.1
xhtml2pdf==0.0.6
xlrd==0.9.3
XlsxWriter==0.7.4
zope.deprecation==4.1.2
zope.interface==4.1.2
zope.sqlalchemy==0.7.6
