.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}

.normal-space {
    font-weight: normal;
    padding-top: 4px;
}

td.level2 {
    padding-left: 8px;
}
td.level3 {
    padding-left: 16px;
}
td.level4 {
    padding-left: 24px;
}
td.level5 {
    padding-left: 32px;
}
td.level6 {
    padding-left: 40px;
}
td.level7 {
    padding-left: 48px;
}
td.level8 {
    padding-left: 56px;
}

div#pageNumber {
    text-align: center;
}

.order-font {
    font-size: 14px;
}

.project-heading-font {
    font-size: 13px;
}

.resourcelist-heading-font {
    font-size: 12px;
    font-weight: bold;
}

.red {
    color: #f00;
}

.black {
    color: #000;
}

.table-border{
    border: 1px solid red;
}

.image-content {
    height:50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}
