.angular-ui-tree {}

.angular-ui-tree-empty {
    min-height: 1px;
    background-color: white;
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

div[ui-tree] li .selected {
    font-weight: bold;
}

div[ui-tree] li .treenode {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
}

div[ui-tree] li .expanded {
    background: url("../img/plusbtn.png") center no-repeat;
    padding-left: 15px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
}

div[ui-tree] li .collapsed {
    background: url("../img/minusbtn.png") center no-repeat;
    padding-left: 15px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
}

div[ui-tree] li .normal {
    background: url("../img/empty.png") center no-repeat;
    padding-left: 15px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
}

.angular-ui-tree-nodes {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 20px;
}
.angular-ui-tree-node, .angular-ui-tree-placeholder {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-hidden {
    display: none;
}

.angular-ui-tree-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
}

.angular-ui-tree-handle {
    cursor: move;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}

/* icons for the tree nodes */
@font-face {
    font-family: "../fonts/fontawesome";
    src:url("../fonts/fontawesome-webfont.eot");
    src:url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.ttf") format("truetype"),
    url("../fonts/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome-webfont.svg#fontawesome") format("svg");
    url("../fonts/fontawesome.otf");
    font-weight: normal;
    font-style: normal;
}

.circle {
    vertical-align: top;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    color: #fff;
    padding: 2px 5px 8px 5px;
    margin: 2px;
    font-style: bold;
    font-size: 0.8em;
}

.circle.Project {
    background: #00c752;
}

a.project-button {
    color: #00c752;
}

.circle.BudgetGroup {
    background: #39a8ee;
}

a.budget-group-button {
    color: #39a8ee;
}

.circle.BudgetItem {
    background: #b75eea;
}

a.budget-item-button {
    color: #b75eea;
}

.circle.ResourcePart {
    background: #FFFF00;
}

a.resource-part-button {
    color: #FFFF00;
}

.circle.Resource {
    background: #f06292;
}

a.resource-button {
    color: #f06292;
}

.circle.ResourceCategory {
    background: #a9385e;
}

a.resource-category-button {
    color: #a9385e;
}

/* fix for wrapping in tree buttons*/
button.treenode {
    text-align: left;
    white-space: normal;
    padding-right: 50px;
}

div.tree-node-content {
    white-space: nowrap;
}

input.tree-control {
    vertical-align: top;
}
