body {
    background: none repeat scroll 0 0 beige;
}

/* treeview div */
.left {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    height: 500px;
    overflow: auto;
}

/* slickgrid div */
.right {
    width: 58%;
    max-width: 855px;
    display: inline-block;
    vertical-align: top;    
}

/* angular treeview background */
.ng-scope {
    background: #FFF;
    padding: 5px 5px 0px 5px;
}

/* angular treeview info box */
.info-box {
    margin: 10px 0 30px 0;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    font: 12px Tahoma;
}

/* Slickgrid table styles */
.cell-title {
  font-weight: bold;
}

.cell-effort-driven {
  text-align: center;
}

#main-container {
    width: 100%;
    display: inline-block;
}

#optimate-data-grid-outer {
    padding: 5px;
}

#optimate-data-grid {
    height: 95vh;
}

.editor-text {
    width: 45px;
}

.slick-header-columns {
    font-size: 0.7em;
}

.hide {
    display: none !important;
}
