html,
body {
  margin: 0;
}

body {
    background: none repeat scroll 0 0;
    padding-top: 105px;
}

/* nav-pills custom styling */
.nav > li > a {
    padding: 5px 15px;
}

.nav > li > .separator {
    padding: 5px 15px;
    color: #428bca;
    display: block;
    position: relative;
}

/* Fix for cursor point in angular bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.nav {
    margin-top: 10px;
}

.no-top-margin {
    margin-top: 0px !important;
}

.action-bar {
    top: 50px;
    z-index: 999;
}

/*#costs {
    height: -moz-calc(100vh - 105px);
    height: -webkit-calc(100vh - 105px);
    height: calc(100vh - 105px);
}
#left {
    width: 40%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
}

#right {
    display: inline-block;
    vertical-align: top;
    width: 59.5%;
    height: 100%;
    float: right;
    overflow:auto;
}

#sidebar-resizer {
    background-color: #666;
    position: absolute;
    top: 102px;
    bottom: 0;
    left: 40%;
    width: 2px;
    cursor: e-resize;
}

#sidebar-resizer:hover{
    background-color: #AAA;
}*/

/* flex box container for slickgrid and tree */
/* minus top padding of 105 pixels */
.flex-box {
    display: flex;
    height: -moz-calc(100vh - 105px);
    height: -webkit-calc(100vh - 105px);
    height: calc(100vh - 105px);
}

#left {
    flex: 1;
    order: 1;
    overflow: auto;
}

#right {
    flex: 1.5;
    order: 3;
    overflow:auto;
}

/*main {
    display: flex;
    height: 100%;
    padding-bottom: $footer-height;
    background: #fff;
}
.content {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: space-around;
    padding: $spacing/2;
}
.row {
    min-height: 30px;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: space-around;
    &.resizable {
        flex: 0 0 300px;
    }
}
section {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1.25em 1.75em;
    background: #ddd;
    border: $spacing/2 solid #fff;
    flex: 1;
    min-width: 30px;
    &.resizable {
        flex: 0 0 300px;
    }
}
#one { background: $color4; color: darken($color4, 30); }
#two { background: $color3; color: darken($color3, 30); }
#three { background: $color5; color: darken($color5, 30); }*/

input.editor-text {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    height: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    width: 100%;
}

.hide {
    display: none !important;
}

#project-select,
#project-select > * {
    font-size: 0.8em;
}

/* Fix for bootstrap box issues in slickgrid */
*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.container .row *,
.container .row *:before,
.container .row *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.col-sm-7 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin #userName {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin #userPassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

div.personal-tools {
    margin-top: 10px;
}

/* centering nav-bar pagination */
.nav-center {
    display: table;
    margin: 0 auto;
}

/* styling for the tree in the order modal */
span.order-tree-node {
    font-weight:bold;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
    cursor:pointer;
}

div.order-tree-content{
    display:inline-block;
    cursor: pointer;
}

button.custom-checkbox{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
}

.align-right {
    float: right;
}

i.checkbox-icon {
    background-color: white;
}

li.order-filters {
    width: 10%;
    float:right;
}

/* overwriting bootstrap in order table */
.currency {
    text-align: right;
}

.table {
    cursor: pointer;
}

#component-data-grid-outer {
    height: 120px;
}
#component-data-grid {
    width: 60%;
    height: 100%;
}
