<!-- build a tree using angular-tree-ui -->
<div ui-tree-handle class="tree-node tree-node-content">
    <input type="button"
        class="collapsed"
        data-ng-show="node.Subitem.length && node.collapsed"
        data-ng-click="selectNodeHead(node)">
    </input>
    <input type="button"
        class="expanded"
        data-ng-show="node.Subitem.length && !node.collapsed"
        data-ng-click="selectNodeHead(node)">
    </button>
    <input type="button"
        class="normal"
        data-ng-hide="node.Subitem.length">
    </input>
    <span class="circle {{node.NodeType}}">&nbsp;{{node.NodeTypeAbbr}}&nbsp;</span>
    <span class="treenode {{node.NodeType}}"
        id="{{node.ID}}"
        data-ng-class="node.selected"
        data-ng-click="selectNodeLabel(node)">
        {{node.Name}}
    </span>
</div>
<ol ui-tree-nodes="" ng-model="node.Subitem" data-ng-hide="!node.collapsed">
    <li ng-repeat="node in node.Subitem" ui-tree-node ng-include="'partials/angularTree.html'">
    </li>
</ol>
