<!-- build a tree using angular-tree-ui -->
<div ui-tree-handle class="tree-node tree-node-content">
    <input type="button"
        class="tree-control expanded"
        data-ng-show="node.Subitem.length && node.expanded"
        data-ng-click="selectNodeHead(node)">
    </input>
    <input type="button"
        class="tree-control collapsed"
        data-ng-show="node.Subitem.length && !node.expanded"
        data-ng-click="selectNodeHead(node)">
    </button>
    <input type="button"
        class="tree-control normal"
        data-ng-hide="node.Subitem.length">
    </input>
    <span class="circle {{node.NodeType}}">&nbsp;{{node.NodeTypeAbbr}}&nbsp;</span>
    <button class="treenode {{node.NodeType}}"
        id="{{node.ID}}"
        data-ng-class="{'selected': node.selected, 'variation-item': node.Variation}"
        data-ng-click="selectNodeLabel(this)">
        {{node.Name}}
    </button>
</div>
<ol ui-tree-nodes ng-model="node.Subitem" data-ng-hide="!node.expanded" data-type="{{node.NodeType}}">
    <li ng-repeat="node in node.Subitem"
        data-ng-class="{'node-cut': node.cut}"
        data-type="{{node.NodeType}}"
        ui-tree-node
        ng-include="'partials/angularTree.html'">
    </li>
</ol>
