<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div>
        <td>
            <input type="text" ng-model="newCity.Name" placeholder="Name">
        </td>
        <td>
            <button data-ng-click="addCity()" title="Add a City">
                <i class="fa fa-plus"></i>
            </button>
        </td>
    </div>
    <div id="cities" class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in cityList" id="city-{{obj.ID}}">
                    <td>{{obj.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>