<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Add Claim"
                    data-ng-click="addingState()"
                    data-target="#saveClaimModal"
                    data-toggle="modal">
                        <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Edit Claim"
                    data-ng-show="selectedClaim"
                    data-ng-click="editingState()"
                    data-target="#saveClaimModal"
                    data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Delete Claim"
                    data-ng-show="selectedClaim"
                    data-target="#deleteClaimModal"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Submit for payment"
                    data-ng-show="selectedClaim.Status == 'Draft'"
                    data-ng-click="toggleClaimStatus('Claimed', 0)">
                        <i class="fa fa-arrow-right"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Retract"
                    data-ng-show="selectedClaim.Status == 'Claimed'"
                    data-ng-click="toggleClaimStatus('Draft', 0)">
                        <i class="fa fa-arrow-left"></i>
                </a>
            </li>
            <li ng-show="selectedClaim">
                <a title="Claim Report"
                data-ng-click="getReport('claim')"
                class="pdf_download">
                <i class="fa fa-file-pdf-o"></i></a>
                 <!-- hidden anchor for download hook -->
                <a class="pdf_hidden_download"></a>
            </li>
            <li class="claim-filters-flexbox active">
                <select chosen
                        class="filter-bar"
                        id="projectFilter"
                        data-ng-model="filters.Project"
                        data-ng-options="project.ID as project.Name for project in projectsList"
                        data-ng-change="loadClaimSection()">
                    <option value="">Project</option>
                </select>
                <div class="filter-datepicker">
                    <a class="dropdown-toggle"
                        id="filterDateDropdown"
                        role="button"
                        data-toggle="dropdown" href="">
                        <div class="input-group">
                            <input type="text"
                                    date-parser="DD MMMM YYYY"
                                    class="col-sm-7 form-control custom-datepicker"
                                    data-ng-model="filters.Date">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="filters.Date"
                            data-on-set-time="loadClaimSection()"
                            data-datetimepicker-config="{ dropdownSelector: '#filterDateDropdown' ,
                                                            minView:'day'}"/>
                    </ul>
                </div>
                <select chosen
                        class="filter-bar"
                        id="statusFilter"
                        data-ng-model="filters.Status"
                        data-ng-options="status as status for status in statusList"
                        data-ng-change="loadClaimSection(); filterBy('status')">
                    <option value="">Status</option>
                </select>
                <a href=""
                        data-ng-click="clearFilters(); loadClaimSection()">
                    Clear
                </a>
            <li>
            <li class="filters-label"><label>Filter by:</label></li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="saveClaimModal"
    modal-type="claim"
    modal-src="modal_templates/saveClaimModal.html">
</div>

<div id="deleteClaimModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Delete claim {{selectedClaim.ID}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteClaim()">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="claims" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Claim Number</th>
                    <th>Claim Date</th>
                    <th>Project</th>
                    <th class="currency">Claim Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonclaims"
                    ng-click="showActionsFor(obj)" id="claim-{{obj.ID}}">
                    <td>{{obj.ID}}</td>
                    <td>{{obj.Date}}</td>
                    <td>{{obj.Project}}</td>
                    <td class="currency" ng-bind-html="obj.Total | currency:currency"></td>
                    <td>{{obj.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
