<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills navbar-left">
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Add Claim"
                    data-ng-click="addingState()"
                    data-target="#saveClaimModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Edit Claim"
                    data-ng-show="selectedItems.length == 1"
                    data-ng-click="editingState()"
                    data-target="#saveClaimModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Delete Claim"
                    data-ng-show="selectedItems.length == 1"
                    data-target="#deleteClaimModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Delete Claims"
                    data-ng-show="selectedItems.length > 1"
                    data-target="#deleteClaimModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Submit for payment"
                    data-ng-show="selectedItems[0].Status == 'Draft'"
                    data-ng-click="toggleClaimStatus('Claimed', 0)">
                        <i class="fa fa-arrow-right"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Retract"
                    data-ng-show="selectedItems[0].Status == 'Claimed'"
                    data-ng-click="toggleClaimStatus('Draft', 0)">
                        <i class="fa fa-arrow-left"></i>
                </a>
            </li>
            <li ng-show="selectedItems.length == 1">
                <a title="PDF Claim Report"
                data-ng-click="getReport('claim')"
                class="pdf_download">
                <i class="fa fa-file-pdf-o"></i></a>
            </li>
            <li ng-show="selectedItems.length == 1">
                <a title="Excel Claim Report"
                data-ng-click="getExcelReport('claim')"
                class="excel_download">
                <i class="fa fa-file-excel-o"></i></a>
            </li>
        </ul>
        <ul class="nav nav-pills navbar-right ">
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-click="focusproject = !focusproject"
                    data-ng-class="{'filter-unselected': !filters.Project}">
                    Project <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Project"
                                ac-options="project.ID as project.Name for project in projectsList"
                                ac-data="projectsList"
                                ac-focus-when="focusproject"
                                ac-settings="{minWidth: '400px'}"
                                ac-change="loadClaimSection()">
                        </select>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""
                    class="dropdown-toggle"
                    id="filterDateDropdown"
                    role="button"
                    data-toggle="dropdown"
                    data-target=""
                    data-ng-class="{'filter-unselected': !filters.Date}">
                    Date <span class="caret"></span>
                </a>
                <ul class="dropdown-menu"
                    role="menu"
                    aria-labelledby="dLabel">
                    <datetimepicker
                        data-ng-model="filters.Date"
                        data-on-set-time="loadClaimSection()"
                        data-datetimepicker-config="{ dropdownSelector: '#filterDateDropdown' ,
                                                    minView:'day'}"/>
                </ul>
            </li>
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-click="focusstatus = !focusstatus"
                    data-ng-class="{'filter-unselected': !filters.Status}">
                    Status <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Status"
                                ac-options="status.Status as status.Status for status in statusList"
                                ac-data="statusList"
                                ac-focus-when="focusstatus"
                                ac-settings="{minWidth: '350px'}"
                                ac-change="loadClaimSection(); filterBy('status')">
                        </select>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""
                        data-ng-click="clearFilters(); loadClaimSection()">
                    Clear
                </a>
            </li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="saveClaimModal"
    modal-type="claim"
    modal-src="modal_templates/saveClaimModal.html">
</div>

<div id="deleteClaimModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" data-ng-show="selectedItems.length == 1">
                <h4>Delete claim {{selectedItems[0].ID}}</h4>
            </div>
            <div class="modal-body" data-ng-show="selectedItems.length > 1">
                <h4>Delete selected claims</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteClaim(0)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="claims" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th data-ng-click="toggleAllCheckboxes()">
                        <i style="padding-left:5px;"
                            data-ng-class="{true:'fa fa-check-square-o', false:'fa fa-square-o'}[selectedItems.length == jsonclaims.length]"></i>
                    </th>
                    <th>Claim Number</th>
                    <th>Claim Date</th>
                    <th>Project</th>
                    <th class="currency">Claim Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonclaims"
                    id="claim-{{obj.ID}}"
                    selection-model
                    selection-model-type="checkbox"
                    selection-model-mode="multiple"
                    selection-model-selected-class="active"
                    selection-model-cleanup-strategy="deselect"
                    selection-model-selected-attribute="selected"
                    selection-model-selected-items="selectedItems">
                    <td class="hidden-checkbox">
                            <input type="checkbox" id="hidden-checkbox-{{obj.ID}}" name=""/>
                            <label for="hidden-checkbox-{{obj.ID}}"></label>
                    </td>
                    <td>{{obj.ID}}</td>
                    <td>{{obj.Date}}</td>
                    <td>{{obj.Project}}</td>
                    <td class="currency" ng-bind-html="obj.Total | currency:currency"></td>
                    <td>{{obj.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
