<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div data-ng-show="user.permissions.setup == 'edit'"
        class="container-fluid">
        <ul class="nav nav-pills">
            <li>
                <a title="Add Client" data-ng-click="addingState()"
                    data-target="#saveModal"
                    data-backdrop="static"
                    data-toggle="modal">
                    <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li ng-show="selectedClient">
                <a title="Edit Client" data-ng-click="editingState()"
                    data-target="#saveModal"
                    data-backdrop="static"
                    data-toggle="modal">
                    <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li ng-show="selectedClient">
                <a title="Delete Client" data-target="#deleteClientModal"
                    data-backdrop="static"
                    data-toggle="modal">
                    <i class="fa fa-trash"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="saveModal"
    modal-type="client"
    modal-src="modal_templates/saveModal.html">
</div>

<div id="deleteClientModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Delete client: {{selectedClient.Name}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteClient()">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="clients" class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>VAT</th>
                    <th>Company Registration</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="obj in jsonclients"
                    data-ng-click="showActionsFor(obj)"
                    id="client-{{obj.ID}}"
                    data-ng-class="{active:obj.active}"
                    class="table-row-hover">
                    <td>{{obj.Name}}</td>
                    <td>{{obj.Address}}</td>
                    <td>{{obj.Phone}}</td>
                    <td>{{obj.VAT}}</td>
                    <td>{{obj.RegNo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
