<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li>
                <a title="Add Client" data-target="#addClientModal" data-toggle="modal"><i class="fa fa-plus-square"></i></a>
            </li>
            <li ng-show="selectedClientId">
                <a title="Edit Client" data-target="#editClientModal" data-toggle="modal"><i class="fa fa-pencil"></i></a>
            </li>
            <li ng-show="selectedClientId">
                <a title="Delete Client" ng-click="getDeleteClient(selectedClientId)"><i class="fa fa-trash"></i></a>
            </li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="addClientModal"
    modal-type="Client"
    modal-src="modal_templates/addclient.html">
</div>

<div custom-modals modal-id="editClientModal"
    modal-type="Client"
    modal-supplier-id="selectedClientId"
    modal-src="modal_templates/editclient.html">
</div>


<div class="container-fluid">
    <div id="clients" class="row">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonclients" ng-click="showActionsFor(obj)" id="client-{{obj.ID}}">
                    <td>{{obj.Name}}</td>
                    <td>{{obj.Address}}</td>
                    <td>{{obj.Phone}}</td>
                </tr>
            </tbody>
        </table>

        <script type="text/ng-template" id="deleteClientModal.html">
            <div class="modal-header">
                <h3>Delete client?</h3>
            </div>
            <div class="modal-body">
                <span>Name: </span>
                <span>{{deletingClient['Name']}}</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="deleteClient()">Delete</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
</div>
