<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li>
                <a title="Add Client" data-target="#addClientModal" data-toggle="modal"><i class="fa fa-plus-square"></i></a>
            </li>
            <li ng-show="selectedClientId">
                <a title="Edit Client" ng-click="getEditClient(selectedClientId)"><i class="fa fa-pencil"></i></a>
            </li>
            <li ng-show="selectedClientId">
                <a title="Delete Client" ng-click="deleteClient(selectedClientId)"><i class="fa fa-trash"></i></a>
            </li>
        </ul>
    </div>
</nav>

<div id="addClientModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Add a new client</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name:</label>
                        <input type="text"
                                id="inputName"
                                name="inputName"
                                ng-model="formData.inputName"
                                required
                                autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress" class="col-sm-2 control-label">Address:</label>
                        <input type="textarea"
                                id="inputAddress"
                                name="inputAddress"
                                ng-model="formData.inputAddress"
                                style="width: 300px; height: 70px;"
                                autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputCity" class="col-sm-2 control-label">City:</label>
                        <input type="text"
                                id="inputCity"
                                name="inputCity"
                                ng-model="formData.inputCity">
                    </div>
                    <div class="form-group">
                        <label for="inputStateProvince" class="col-sm-2 control-label">State/Province:</label>
                        <input type="text"
                                id="inputStateProvince"
                                name="inputStateProvince"
                                ng-model="formData.inputStateProvince">
                    </div>
                    <div class="form-group">
                        <label for="inputStateCountry" class="col-sm-2 control-label">Country:</label>
                        <input type="text"
                                id="inputStateCountry"
                                name="inputStateCountry"
                                ng-model="formData.inputCountry">
                    </div>
                    <div class="form-group">
                        <label for="inputZip" class="col-sm-2 control-label">Zip Code:</label>
                        <input type="text"
                                id="inputZip"
                                name="inputZip"
                                ng-model="formData.inputZip">
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-sm-2 control-label">Phone:</label>
                        <input type="text"
                                id="inputPhone"
                                name="inputPhone"
                                ng-model="formData.inputPhone">
                    </div>
                    <div class="form-group">
                        <label for="inputFax" class="col-sm-2 control-label">Fax:</label>
                        <input type="text"
                                id="inputFax"
                                name="inputFax"
                                ng-model="formData.inputFax">
                    </div>
                    <div class="form-group">
                        <label for="inputCellular" class="col-sm-2 control-label">Cellular:</label>
                        <input type="text"
                                id="inputCellular"
                                name="inputCellular"
                                ng-model="formData.inputCellular">
                    </div>
                    <div class="form-group">
                        <label for="inputContact" class="col-sm-2 control-label">Contact:</label>
                        <input type="text"
                                id="inputContact"
                                name="inputContact"
                                ng-model="formData.inputContact">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewClient()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>                
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="clients" class="row">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonclients" ng-click="showActionsFor(obj)" id="client-{{obj.ID}}">
                    <td>{{obj.Name}}</td>
                    <td>{{obj.Address}}</td>
                    <td>{{obj.Phone}}</td>
                </tr>
            </tbody>
        </table>

        <script type="text/ng-template" id="editClientModal.html">
            <div class="modal-header">
                <h3>Edit client</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name:</label>
                        <input type="text"
                                id="inputName"
                                name="inputName"
                                ng-model="editingClient['Name']"
                                required
                                autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress" class="col-sm-2 control-label">Address:</label>
                        <input type="textarea"
                                id="inputAddress"
                                name="inputAddress"
                                ng-model="editingClient['Address']"
                                style="width: 300px; height: 70px;"
                                autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputCity" class="col-sm-2 control-label">City:</label>
                        <input type="text"
                                id="inputCity"
                                name="inputCity"
                                ng-model="editingClient['City']">
                    </div>
                    <div class="form-group">
                        <label for="inputStateProvince" class="col-sm-2 control-label">State/Province:</label>
                        <input type="text"
                                id="inputStateProvince"
                                name="inputStateProvince"
                                ng-model="editingClient['StateProvince']">
                    </div>
                    <div class="form-group">
                        <label for="inputStateCountry" class="col-sm-2 control-label">Country:</label>
                        <input type="text"
                                id="inputStateCountry"
                                name="inputStateCountry"
                                ng-model="editingClient['Country']">
                    </div>
                    <div class="form-group">
                        <label for="inputZip" class="col-sm-2 control-label">Zip Code:</label>
                        <input type="text"
                                id="inputZip"
                                name="inputZip"
                                ng-model="editingClient['Zipcode']">
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-sm-2 control-label">Phone:</label>
                        <input type="text"
                                id="inputPhone"
                                name="inputPhone"
                                ng-model="editingClient['Phone']">
                    </div>
                    <div class="form-group">
                        <label for="inputFax" class="col-sm-2 control-label">Fax:</label>
                        <input type="text"
                                id="inputFax"
                                name="inputFax"
                                ng-model="editingClient['Fax']">
                    </div>
                    <div class="form-group">
                        <label for="inputCellular" class="col-sm-2 control-label">Cellular:</label>
                        <input type="text"
                                id="inputCellular"
                                name="inputCellular"
                                ng-model="editingClient['Cellular']">
                    </div>
                    <div class="form-group">
                        <label for="inputContact" class="col-sm-2 control-label">Contact:</label>
                        <input type="text"
                                id="inputContact"
                                name="inputContact"
                                ng-model="editingClient['Contact']">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="editClient()">Save</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="deleteClientModal.html">
            <div class="modal-header">
                <h3>Delete client?</h3>
            </div>
            <div class="modal-body">
                <span>Name: </span>
                <span>{{deletingClient['Name']}}</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="deleteClient()">Delete</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
</div>
