<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li data-ng-show="user.permissions.setup == 'edit'">
                <a title="Edit Company Information" data-ng-click="editingState()"
                   data-target="#editCompanyInformation" data-toggle="modal">
                    <i class="fa fa-pencil"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="editCompanyInformation"
    modal-src="modal_templates/editCompanyInformation.html">
</div>

<div class="container-fluid">
    <div>COMPANY INFORMATION</div>
    </br>
    <div>
        <span>Name: </span>
        <span>{{company_information['Name']}}</span>
    </div>
    <div>
        <span>Address: </span>
        <span>{{company_information['Address']}}</span>
    </div>
    <div>
        <span>Tel: </span>
        <span>{{company_information['Tel']}}</span>
    </div>
    <div>
        <span>Fax: </span>
        <span>{{company_information['Fax']}}</span>
    </div>
    <div>
        <span>Cell: </span>
        <span>{{company_information['Cell']}}</span>
    </div>
    </br>
    <div>FINANCIAL DETAIL</div>
    </br>
    <div>
        <span>Bank name: </span>
        <span>{{company_information['BankName']}}</span>
    </div>
    <div>
        <span>Branch Code: </span>
        <span>{{company_information['BranchCode']}}</span>
    </div>
    <div>
        <span>Account No: </span>
        <span>{{company_information['AccountNo']}}</span>
    </div>
    <div>
        <span>Account Name: </span>
        <span>{{company_information['AccountName']}}</span>
    </div>
    <div>
        <span>Default Taxrate: </span>
        <span>{{company_information['DefaultTaxrate']}}</span><span>%</span>
    </div>
    <div>
        <span>Currency: </span>
        <span>{{company_information['Currency']}}</span>
    </div>
</div>
