<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li data-ng-show="user.permissions.setup == 'edit'">
                <a title="Edit Company Information" data-ng-click="editingState()"
                    data-target="#editCompanyInformation"
                    data-backdrop="static"
                    data-toggle="modal">
                    <i class="fa fa-pencil"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="editCompanyInformation"
    modal-src="modal_templates/editCompanyInformation.html">
</div>

<div class="container-fluid">
    <table>
        <tbody>
            <tr>
                <td style="font-weight: bold">COMPANY INFORMATION</td>
            <tr>
                <td>Name: </td>
                <td>{{company_information['Name']}}</td>
            </tr>
            <tr>
                <td>Address: </td>
                <td>{{company_information['Address']}}</td>
            </tr>
            <tr>
                <td>Telephone number: </td>
                <td>{{company_information['Tel']}}</td>
            </tr>
            <tr>
                <td>Fax number: </td>
                <td>{{company_information['Fax']}}</td>
            </tr>
            <tr>
                <td>Cellphone number: </td>
                <td>{{company_information['Cell']}}</td>
            </tr>
            <tr><td></br></td></tr>
            <tr>
                <td style="font-weight: bold">FINANCIAL DETAIL</td>
            </tr>
            <tr>
                <td>Bank name: </td>
                <td>{{company_information['BankName']}}</td>
            </tr>
            <tr>
                <td>Branch code: </td>
                <td>{{company_information['BranchCode']}}</td>
            </tr>
            <tr>
                <td>Account number: </td>
                <td>{{company_information['AccountNo']}}</td>
            </tr>
            <tr>
                <td>Account name: </td>
                <td>{{company_information['AccountName']}}</td>
            </tr>
            <tr>
                <td>Default taxrate: </td>
                <td>{{company_information['DefaultTaxrate']}} %</td>
            </tr>
            <tr>
                <td>Currency: </td>
                <td>{{company_information['Currency']}}</td>
            </tr>
            <tr><td></br></td></tr>
            <tr>
                <td style="font-weight: bold">REPORT HEADER</td>
            </tr>
            <tr><td colspan="2">
            <img class="thumb" ng-src="{{company_information.Header}}" />
            </td></tr>
            <tr>
                <td style="font-weight: bold">REPORT FOOTER</td>
            </tr>
            <tr><td colspan="2">
                <img class="thumb" ng-src="{{company_information.Footer}}" />
            </td></tr>
        </tbody>
    </table>
</div>
