<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div>COMPANY INFORMATION</div>
    </br>    
    <div>
        <span>Name: </span>
        <span>{{company_information['Name']}}</span>
    </div>
    <div>
        <span>Address: </span>
        <span>{{company_information['Address']}}</span>
    </div>
    <div>
        <span>Tel: </span>
        <span>{{company_information['Tel']}}</span>
    </div>
    <div>
        <span>Fax: </span>
        <span>{{company_information['Fax']}}</span>
    </div>
    <div>
        <span>Cell: </span>
        <span>{{company_information['Cell']}}</span>
    </div>        
    <div>
        <span>Company Header: </span>
        <span>{{company_information['Company Header']}}</span>
    </div>
    <div>
        <span>Order Header: </span>
        <span>{{company_information['Order Header']}}</span>
    </div>
    </br>
    <div>FINANCIAL DETAIL</div>
    </br>    
    <div>
        <span>Bank name: </span>
        <span>{{company_information['Bank name']}}</span>
    </div>
    <div>
        <span>Branch Code: </span>
        <span>{{company_information['Branch Code']}}</span>
    </div>
    <div>
        <span>Account No: </span>
        <span>{{company_information['Account No']}}</span>
    </div>
    <div>
        <span>Account Name: </span>
        <span>{{company_information['Account Name']}}</span>
    </div>
    <div>
        <span>Default Taxrate: </span>
        <span>{{company_information['Default Taxrate']}}</span><span>%</span>
    </div>

</div>