<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li data-ng-show="user.permissions.invoices == 'edit'"
                data-ng-hide="selectedInvoices.length > 1">
                <a title="Add Invoice"
                    data-ng-click="addingState()"
                    data-target="#saveInvoiceModal"
                    data-toggle="modal">
                        <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.invoices == 'edit'"
                data-ng-hide="selectedInvoices.length > 1">
                <a title="Edit Invoice"
                    data-ng-show="selectedInvoice && selectedInvoice.Status == 'Draft'"
                    data-ng-click="editingState()"
                    data-target="#saveInvoiceModal"
                    data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li data-ng-show="selectedInvoices.length == 1">
                <a title="View"
                    data-ng-show="selectedInvoice.Status != 'Draft'"
                    data-ng-click="editingState()"
                    data-target="#viewInvoiceModal"
                    data-toggle="modal">
                        <i class="fa fa-square-o"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.invoices == 'edit'">
                <a title="Delete Invoice"
                    data-ng-show="selectedInvoice"
                    data-target="#deleteInvoiceModal"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-switch="selectedInvoice.Status" data-ng-show="user.permissions.invoices == 'edit'">
                <a data-ng-switch-when="Draft" style="color: gray;">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a data-ng-switch-when="Due" title="Revert"
                    data-ng-click="toggleInvoiceStatus('Draft', 0)">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a data-ng-switch-when="Paid" title="Revert"
                    data-ng-click="toggleInvoiceStatus('Due', 0)">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </li>
            <li data-ng-switch="selectedInvoice.Status" data-ng-show="user.permissions.invoices == 'edit'">
                <a data-ng-switch-when="Draft" title="Submit for Payment"
                    data-ng-click="toggleInvoiceStatus('Due', 0)">
                        <i class="fa fa-arrow-right"></i>
                </a>
                <a data-ng-switch-when="Due" title="Mark as Paid"
                    data-ng-click="toggleInvoiceStatus('Paid', 0)">
                        <i class="fa fa-arrow-right"></i>
                </a>
                <a data-ng-switch-when="Paid" style="color: gray;">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </li>
            <li data-ng-show="invoicesReportEnabled"
                data-ng-hide="selectedInvoices.length > 1">
                <a title="PDF Invoices Report" data-target="#invoicesReport"
                data-toggle="modal" data-ng-click="filterReportBy(); setReportType('pdf')"
                class="pdf_download">
                <i class="fa fa-file-pdf-o"></i></a>
            </li>
            <li data-ng-show="invoicesReportEnabled"
                data-ng-hide="selectedInvoices.length > 1">
                <a title="Excel Invoices Report" data-target="#invoicesReport"
                data-toggle="modal" data-ng-click="filterReportBy(); setReportType('excel')"
                class="excel_download">
                <i class="fa fa-file-excel-o"></i></a>
            </li>
            <li class="invoice-filters-flexbox active">
                <input type="text"
                       data-ng-model="filters.InvoiceNumber"
                       data-ng-model-options="{ debounce: 500 }"
                       placeholder="Invoice number"
                       data-ng-change="loadInvoiceSection(); filterBy('invoicenumber')">
                <input type="number"
                       data-ng-model="filters.OrderNumber"
                       data-ng-model-options="{ debounce: 500 }"
                       placeholder="Order number"
                       data-ng-change="loadInvoiceSection(); filterBy('ordernumber')">
                <div class="filter-datepicker">
                    <a class="dropdown-toggle"
                        id="filterPaymentDropdown"
                        role="button"
                        data-toggle="dropdown" href="">
                        <div class="input-group">
                            <input type="text"
                                    date-parser="DD MMMM YYYY"
                                    class="col-sm-7 form-control custom-datepicker"
                                    data-ng-model="filters.PaymentDate">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="filters.PaymentDate"
                            data-on-set-time="loadInvoiceSection(); filterBy('paymentdate')"
                            data-datetimepicker-config="{ dropdownSelector: '#filterPaymentDropdown' ,
                                                            minView:'day'}"/>
                    </ul>
                </div>
                <select chosen
                        class="filter-bar"
                        id="projectFilter"
                        data-ng-model="filters.Project"
                        data-ng-options="project.ID as project.Name for project in projectsList"
                        data-ng-change="loadInvoiceSection(); filterBy('project')">
                    <option value="">Project</option>
                </select>
                <select chosen
                        class="filter-bar"
                        id="clientFilter"
                        data-ng-model="filters.Client"
                        data-ng-options="client.ID as client.Name for client in clientsList"
                        data-ng-change="loadInvoiceSection(); filterBy('client')">
                    <option value="">Client</option>
                </select>
                <select chosen
                        class="filter-bar"
                        id="supplierFilter"
                        data-ng-model="filters.Supplier"
                        data-ng-options="supplier.ID as supplier.Name for supplier in suppliersList"
                        data-ng-change="loadInvoiceSection(); filterBy('supplier')">
                    <option value="">Supplier</option>
                </select>
                <select chosen
                        class="filter-bar"
                        id="statusFilter"
                        data-ng-model="filters.Status"
                        data-ng-change="loadInvoiceSection(); filterBy('status')">
                    <option value="">Status</option>
                    <option value="Draft">Draft</option>
                    <option value="Due">Due</option>
                    <option value="Paid">Paid</option>
                </select>
                <a href=""
                        data-ng-click="clearFilters(); loadInvoiceSection()">
                    Clear
                </a>
            <li>
            <li class="filters-label"><label>Filter by:</label></li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="saveInvoiceModal"
    modal-type="invoice"
    modal-src="modal_templates/saveInvoiceModal.html">
</div>
<div custom-modals modal-id="viewInvoiceModal"
    modal-type="invoice"
    modal-src="modal_templates/viewInvoiceModal.html">
</div>
<div custom-modals modal-id="invoicesReport"
    modal-src="modal_templates/invoicesReport.html">
</div>

<div id="deleteInvoiceModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4 data-ng-show="selectedOrders.length == 1">
                    Delete invoice {{selectedInvoice.ID}}
                </h4>
                <h4 data-ng-show="selectedInvoices.length > 1">
                    Delete selected invoices
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteInvoice(0)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="invoices" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Invoice Number</th>
                    <th>Order Number</th>
                    <th>Project</th>
                    <th>Supplier</th>
                    <th class="currency">Invoice Total</th>
                    <th>Payment Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsoninvoices"
                    selection-model
                    selection-model-mode="multiple"
                    selection-model-selected-class="active"
                    selection-model-cleanup-strategy="deselect"
                    selection-model-selected-items="selectedInvoices"
                    ng-click="showActionsFor(obj)" id="invoice-{{obj.ID}}">
                    <td>{{obj.InvoiceNumber}}</td>
                    <td>{{obj.OrderID}}</td>
                    <td>{{obj.Project}}</td>
                    <td>{{obj.Supplier}}</td>
                    <td class="currency" ng-bind-html="obj.Total | currency:currency"></td>
                    <td>{{obj.ReadablePaymentdate}}</td>
                    <td>{{obj.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
