<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li>
                <a title="Add Invoice"
                    data-ng-click="addingState()"
                    data-target="#saveInvoiceModal"
                    data-toggle="modal">
                        <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li ng-show="selectedInvoice">
                <a title="Edit Invoice"
                    data-ng-click="editingState()"
                    data-target="#saveInvoiceModal"
                    data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li ng-show="selectedInvoice">
                <a title="Delete Invoice"
                    data-target="#deleteInvoiceModal"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li ng-show="selectedInvoice">
                <a title="Invoice Report"
                data-ng-click="getReport('invoice')"
                class="pdf_download">
                <i class="fa fa-file-pdf-o"></i></a>
                <a class="pdf_hidden_download"></a> <!-- hidden anchor for download hook -->
            </li>
            <li class="invoice-filters-flexbox active">
                <input type="number"
                       data-ng-model="filters.OrderNumber"
                       data-ng-model-options="{ debounce: 500 }"
                       placeholder="Order number"
                       data-ng-change="loadInvoiceSection(); filterBy('ordernumber')">
                <input type="number"
                       data-ng-model="filters.InvoiceNumber"
                       data-ng-model-options="{ debounce: 500 }"
                       placeholder="Invoice number"
                       data-ng-change="loadInvoiceSection(); filterBy('invoicenumber')">
               <select chosen
                        class="filter-bar"
                        id="projectFilter"
                        data-ng-model="filters.Project"
                        data-ng-options="project.ID as project.Name for project in projectsList"
                        data-ng-change="loadInvoiceSection(); filterBy('project')">
                    <option value="">Project</option>
                </select>
                <select chosen
                        class="filter-bar"
                        id="clientFilter"
                        data-ng-model="filters.Client"
                        data-ng-options="client.ID as client.Name for client in clientsList"
                        data-ng-change="loadInvoiceSection(); filterBy('client')">
                    <option value="">Client</option>
                </select>
                <select chosen
                        class="filter-bar"
                        id="supplierFilter"
                        data-ng-model="filters.Supplier"
                        data-ng-options="supplier.ID as supplier.Name for supplier in suppliersList"
                        data-ng-change="loadInvoiceSection(); filterBy('supplier')">
                    <option value="">Supplier</option>
                </select>
                <input type="number"
                       data-ng-model="filters.PaymentDate"
                       data-ng-model-options="{ debounce: 500 }"
                       placeholder="Payment date"
                       data-ng-change="loadInvoiceSection(); filterBy('paymentdate')">
                <select class="filter-bar"
                        id="statusFilter"
                        data-ng-model="filters.Status"
                        data-ng-change="loadInvoiceSection(); filterBy('status')">
                    <option value="">Status</option>
                    <option value="Paid">Paid</option>
                    <option value="Unpaid">Unpaid</option>
                </select>
                <a href=""
                        data-ng-click="clearFilters(); loadInvoiceSection()">
                    Clear
                </a>
            <li>
            <li class="filters-label"><label>Filter by:</label></li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="saveInvoiceModal"
    modal-type="invoice"
    modal-src="modal_templates/saveInvoiceModal.html">
</div>

<div id="deleteInvoiceModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Delete invoice {{selectedInvoice.InvoiceNumber}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteInvoice()">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="invoices" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Invoice Number</th>
                    <th>Order Number</th>
                    <th>Project</th>
                    <th>Supplier</th>
                    <th class="currency">Invoice Total</th>
                    <th>Payment Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsoninvoices"
                    ng-click="showActionsFor(obj)" id="invoice-{{obj.invoicenumber}}">
                    <td>{{obj.invoicenumber}}</td>
                    <td>{{obj.orderid}}</td>
                    <td>{{obj.project}}</td>
                    <td>{{obj.supplier}}</td>
                    <td class="currency">{{obj.amount}}</td>
                    <td>{{obj.paymentdate}}</td>
                    <td>{{obj.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
