<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills navbar-left">
            <li data-ng-show="user.permissions.invoices == 'edit'">
                <a title="Add Invoice"
                    data-ng-click="addingState()"
                    data-target="#saveInvoiceModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.invoices == 'edit' && selectedInvoices.length == 1">
                <a title="Edit Invoice"
                    data-ng-show="selectedInvoices[0].Status == 'Draft'"
                    data-ng-click="editingState()"
                    data-target="#saveInvoiceModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li data-ng-show="selectedInvoices.length == 1">
                <a title="View"
                    data-ng-show="selectedInvoices[0].Status != 'Draft'"
                    data-ng-click="editingState()"
                    data-target="#viewInvoiceModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-square-o"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.invoices == 'edit'">
                <a title="Delete Invoice"
                    data-ng-show="selectedInvoices.length == 1"
                    data-target="#deleteInvoiceModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.invoices == 'edit'">
                <a title="Delete Invoices"
                    data-ng-show="selectedInvoices.length > 1"
                    data-target="#deleteInvoiceModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-switch="selectedInvoices[0].Status" data-ng-show="user.permissions.invoices == 'edit'">
                <a data-ng-switch-when="Draft" style="color: gray;">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a data-ng-switch-when="Due" title="Revert"
                    data-ng-click="toggleInvoiceStatus('Draft', 0)">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a data-ng-switch-when="Paid" title="Revert"
                    data-ng-click="toggleInvoiceStatus('Due', 0)">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </li>
            <li data-ng-switch="selectedInvoices[0].Status" data-ng-show="user.permissions.invoices == 'edit'">
                <a data-ng-switch-when="Draft" title="Submit for Payment"
                    data-ng-click="toggleInvoiceStatus('Due', 0)">
                        <i class="fa fa-arrow-right"></i>
                </a>
                <a data-ng-switch-when="Due" title="Mark as Paid"
                    data-ng-click="toggleInvoiceStatus('Paid', 0)">
                        <i class="fa fa-arrow-right"></i>
                </a>
                <a data-ng-switch-when="Paid" style="color: gray;">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </li>
            <li data-ng-show="jsoninvoices.length > 0">
                <a title="PDF Invoices Report" data-target="#invoicesReport"
                    data-backdrop="static"
                    data-toggle="modal"
                    data-ng-click="filterReportBy(); setReportType('pdf')"
                    class="pdf_download">
                    <i class="fa fa-file-pdf-o"></i></a>
            </li>
            <li data-ng-show="jsoninvoices.length > 0">
                <a class="dropdown-toggle excel_download"
                    title="Excel Invoices Report"
                    data-toggle="dropdown"
                    data-ng-click="filterReportBy(); setReportType('excel')">
                    <i class="fa fa-file-excel-o"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-target="#invoicesReport"
                                data-backdrop="static"
                                data-toggle="modal"
                                data-ng-click="filterReportBy(); setReportType('excel')">
                                Excel Report</a>
                        </li>
                        <li>
                            <a data-ng-click="getCSVReport('invoices')">
                                CSV Report</a>
                        </li>
                    </ul>
            </li>
        </ul>
        <ul class="nav nav-pills navbar-right ">
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{'filter-unselected': !filters.InvoiceNumber}">
                    Invoice Number <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li><input type="text"
                        class="filter-textbox"
                        data-ng-model="filters.InvoiceNumber"
                        data-ng-model-options="{ debounce: 1000 }"
                        placeholder="Invoice number"
                        data-ng-change="loadInvoiceSection(); filterBy('invoicenumber')"></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{'filter-unselected': !filters.OrderNumber}">
                    Order number <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li><input type="number"
                            class="filter-textbox"
                            data-ng-model="filters.OrderNumber"
                            data-ng-model-options="{ debounce: 1000 }"
                            placeholder="Order number"
                            data-ng-change="loadInvoiceSection(); filterBy('ordernumber')"></li>
                </ul>
            </li>
            <li>
                <a href=""
                    class="dropdown-toggle"
                    id="filterDateDropdown"
                    role="button"
                    data-toggle="dropdown"
                    data-target=""
                    data-ng-class="{'filter-unselected': !filters.PaymentDate}">
                    Payment Date <span class="caret"></span>
                </a>
                <ul class="dropdown-menu"
                    role="menu"
                    aria-labelledby="dLabel">
                    <datetimepicker
                        data-ng-model="filters.PaymentDate"
                        data-on-set-time="loadInvoiceSection(); filterBy('paymentdate')"
                        data-datetimepicker-config="{ dropdownSelector: '#filterDateDropdown' ,
                                                    minView:'day'}"/>
                </ul>
            </li>
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-click="focusproject = !focusproject"
                    data-ng-class="{'filter-unselected': !filters.Project}">
                    Project <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Project"
                                ac-options="project.ID as project.Name for project in projectsList"
                                ac-data="projectsList"
                                ac-focus-when="focusproject"
                                ac-settings="{minWidth: '400px'}"
                                ac-change="loadInvoiceSection(); filterBy('project')">
                        </select>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-click="focusclient = !focusclient"
                    data-ng-class="{'filter-unselected': !filters.Client}">
                    Client <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Client"
                                ac-options="client.ID as client.Name for client in clientsList"
                                ac-data="clientsList"
                                ac-focus-when="focusclient"
                                ac-settings="{minWidth: '350px'}"
                                ac-change="loadInvoiceSection(); filterBy('client')">
                        </select>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-click="focussupplier = !focussupplier"
                    data-ng-class="{'filter-unselected': !filters.Supplier}">
                    Supplier <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Supplier"
                                ac-options="supplier.ID as supplier.Name for supplier in suppliersList"
                                ac-data="suppliersList"
                                ac-focus-when="focussupplier"
                                ac-settings="{minWidth: '350px'}"
                                ac-change="loadInvoiceSection(); filterBy('supplier')">
                        </select>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                 <a href=""
                    data-toggle="dropdown"
                    data-ng-click="focusstatus = !focusstatus"
                    data-ng-class="{'filter-unselected': !filters.Status}">
                    Status <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Status"
                                ac-options="status.Status as status.Status for status in statusList"
                                ac-data="statusList"
                                ac-focus-when="focusstatus"
                                ac-settings="{minWidth: '350px'}"
                                ac-change="loadInvoiceSection(); filterBy('status')">
                        </select>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""
                    data-ng-click="clearFilters(); loadInvoiceSection()">
                    Clear
                </a>
            </li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="saveInvoiceModal"
    modal-type="invoice"
    modal-src="modal_templates/saveInvoiceModal.html">
</div>
<div custom-modals modal-id="viewInvoiceModal"
    modal-type="invoice"
    modal-src="modal_templates/viewInvoiceModal.html">
</div>
<div custom-modals modal-id="invoicesReport"
    modal-src="modal_templates/invoicesReport.html">
</div>

<div id="deleteInvoiceModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4 data-ng-show="selectedInvoices.length == 1">
                    Delete invoice {{selectedInvoices[0].ID}}
                </h4>
                <h4 data-ng-show="selectedInvoices.length > 1">
                    Delete selected invoices
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteInvoice(0)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="invoices" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th data-ng-click="toggleAllCheckboxes()">
                        <i style="padding-left:5px;"
                            data-ng-class="{true:'fa fa-check-square-o', false:'fa fa-square-o'}[selectedInvoices.length == jsoninvoices.length]"></i>
                    </th>
                    <th>Invoice Number</th>
                    <th>Order Number</th>
                    <th>Order Description</th>
                    <th>Project</th>
                    <th>Supplier</th>
                    <th class="currency">Invoice Total</th>
                    <th>Payment Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsoninvoices"
                    selection-model
                    selection-model-type="checkbox"
                    selection-model-mode="multiple"
                    selection-model-selected-class="active"
                    selection-model-cleanup-strategy="deselect"
                    selection-model-selected-attribute="selected"
                    selection-model-selected-items="selectedInvoices"
                    id="invoice-{{obj.ID}}">
                    <td class="hidden-checkbox"><input type="checkbox" id="hidden-checkbox-{{obj.ID}}" name=""/>
                                                <label for="hidden-checkbox-{{obj.ID}}"></label>
                    </td>
                    <td>{{obj.InvoiceNumber}}</td>
                    <td>{{obj.OrderID}}</td>
                    <td>{{obj.OrderDescription}}</td>
                    <td>{{obj.Project}}</td>
                    <td>{{obj.Supplier}}</td>
                    <td class="currency" ng-bind-html="obj.Total | currency:currency"></td>
                    <td>{{obj.ReadablePaymentdate}}</td>
                    <td>{{obj.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="bottom-bar"><div>
<nav class="navbar navbar-default navbar-fixed-bottom navbar-small"
    data-ng-show="showAmountInHand">
    <div class="centered-pills">
        <ul class="nav nav-pills nav-small">
            <li><a>Total: <span class="currency" ng-bind-html="amounts.total | currency:currency"></span></a></li>
            <li><a>Paid: <span class="currency" ng-bind-html="amounts.paid | currency:currency"></span></a></li>
            <li><a>Amount Recieved: <span class="currency" ng-bind-html="amounts.received | currency:currency"></span></a></li>
            <li><a>Available: <span class="currency" ng-bind-html="amounts.available | currency:currency"></span></a></li>
        </ul>
    </div>
</nav>
