<script type="text/ng-template" id="angularOrderTree.html">
  <div ui-tree-handle class="tree-node tree-node-content">
      <input type="button"
          class="collapsed"
          data-ng-show="node.Subitem.length && node.collapsed"
          data-ng-click="selectNodeHead(node)">
      </input>
      <input type="button"
          class="expanded"
          data-ng-show="node.Subitem.length && !node.collapsed"
          data-ng-click="selectNodeHead(node)">
      </button>
      <input type="button"
          class="normal"
          data-ng-hide="node.Subitem.length">
      </input>
      <input data-ng-show="{{node.NodeType == 'Component'}}"
              type="checkbox"
              data-ng-model="node.selected"
              data-ng-change="toggleComponents(node)">
      <span class="circle {{node.NodeType}}">&nbsp;{{node.NodeTypeAbbr}}&nbsp;</span>
      <span class="order-tree-node"
          id="{{node.ID}}">
          <div style="font-weight:bold;">
              {{node.Name}}
          </div>
          <div style="padding-left:5em;">
              {{node.Description}}
          </div>
      </span>
  </div>
  <ol ui-tree-nodes ng-model="node.Subitem" data-ng-hide="!node.collapsed" data-type="{{node.NodeType}}">
      <li ng-repeat="node in node.Subitem"
          data-type="{{node.NodeType}}"
          ui-tree-node
          ng-include="'angularOrderTree.html'">
      </li>
  </ol>
</script>


<span>
    <select class="col-sm-7"
            id="inputTreeProject"
            data-ng-model="formData.treeProject"
            data-ng-options="project.ID as project.Name for project in projectsList">
        <option value="">Select a project</option>
    </select>
    <button type="select" class="btn btn-primary" data-ng-click="loadProject()">Open project</button>
</span>
<div ui-tree="treeOptions"
    data-max-depth="0"
    data-drag-enabled="false"
    id="tree-root">
    <ol ui-tree-nodes ng-model="openProjectsList">
        <li ng-repeat="node in openProjectsList"
            ui-tree-node
            ng-include="'angularOrderTree.html'"></li>
    </ol>
</div>
