<script type="text/javascript">
    // keep the dropdowns open on click
    $(document).ready(function() {
        $(document).on('click', '.dropdown-menu', function (e) {
            $(this).hasClass('keep-open') && e.stopPropagation();
        });
    });
    </script>

<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills navbar-left">
            <li data-ng-show="user.permissions.orders == 'edit'"
                data-ng-hide="selectedOrders.length > 1">
                <a title="Add Order"
                    data-ng-click="addingState()"
                    data-target="#saveOrderModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'"
                data-ng-hide="selectedOrders.length != 1">
                <a title="Edit Order"
                    data-ng-show="selectedOrders[0].Status == 'Draft'"
                    data-ng-click="editingState()"
                    data-target="#saveOrderModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li data-ng-hide="selectedOrders.length != 1">
                <a title="View"
                    data-ng-show="selectedOrders[0].Status == 'Processed'"
                    data-ng-click="editingState()"
                    data-target="#saveOrderModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-square-o"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Delete Order"
                    data-ng-show="selectedOrders.length == 1"
                    data-target="#deleteOrderModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Delete Orders"
                    data-ng-show="selectedOrders.length > 1"
                    data-target="#deleteOrderModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Process"
                    data-ng-show="selectedOrders[0].Status == 'Draft'"
                    data-ng-click="toggleOrderStatus('Processed', 0)">
                        <i class="fa fa-arrow-right"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Retract"
                    data-ng-show="selectedOrders[0].Status == 'Processed'"
                    data-ng-click="toggleOrderStatus('Draft', 0)">
                        <i class="fa fa-arrow-left"></i>
                </a>
            </li>
            <li data-ng-show="selectedOrders.length == 1">
                <a title="PDF Order Report"
                    data-ng-click="getReport('order')"
                    class="pdf_download">
                    <i class="fa fa-file-pdf-o"></i>
                </a>
            </li>
            <li data-ng-show="selectedOrders.length == 1">
                <a title="Excel Order Report"
                    data-ng-click="getExcelReport('order')"
                    class="excel_download">
                    <i class="fa fa-file-excel-o"></i>
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills navbar-right ">
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{undefined:'filter-unselected'}[filters.OrderNumber]">
                    Order number <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li><input type="number"
                       data-ng-model="filters.OrderNumber"
                       data-ng-model-options="{ debounce: 500 }"
                       placeholder="Order number"
                       data-ng-change="loadOrderSection(); filterBy('ordernumber')"></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{undefined:'filter-unselected', null:'filter-unselected'}[filters.Project]">
                    Project <span class="caret"></span>
                </a>
               <ul class="dropdown-menu keep-open">
                    <li>
                        <select chosen="{width: '100%'}"
                                id="projectFilter"
                                data-ng-model="filters.Project"
                                data-ng-options="project.ID as project.Name for project in projectsList"
                                data-ng-change="loadOrderSection(); filterBy('project')">
                            <option value="">Project</option>
                        </select>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{undefined:'filter-unselected'}[filters.Client]">
                    Client <span class="caret"></span></a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select chosen="{width: '100%'}"
                                id="clientFilter"
                                data-ng-model="filters.Client"
                                data-ng-options="client.ID as client.Name for client in clientsList"
                                data-ng-change="loadOrderSection(); filterBy('client')">
                            <option value="">Client</option>
                        </select>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{undefined:'filter-unselected'}[filters.Supplier]">
                    Supplier <span class="caret"></span></a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select chosen="{width: '100%'}"
                                id="supplierFilter"
                                data-ng-model="filters.Supplier"
                                data-ng-options="supplier.ID as supplier.Name for supplier in filteredSuppliersList"
                                data-ng-change="loadOrderSection(); filterBy('supplier')">
                            <option value="">Supplier</option>
                        </select>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{undefined:'filter-unselected'}[filters.Status]">
                    Status <span class="caret"></span></a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select chosen="{width: '100%'}"
                                id="statusFilter"
                                data-ng-model="filters.Status"
                                data-ng-change="loadOrderSection(); filterBy('status')">
                            <option value="">Status</option>
                            <option value="Draft">Draft</option>
                            <option value="Processed">Processed</option>
                        </select>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""
                    data-ng-click="clearFilters(); loadOrderSection()">
                    Clear
                </a>
            </li>
        </ul>
    </div>
</nav>

<pagination data-ng-show="orderListLength > maxPageSize"
            boundary-links="true"
            total-items="orderListLength"
            items-per-page="pageSize"
            data-ng-model="currentPage"
            data-ng-change="loadOrderSection()"
            max-size="maxPageSize"
            class="pagination-sm nav-center"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;">
</pagination>

<div custom-modals modal-id="saveOrderModal"
    modal-type="order"
    modal-src="modal_templates/saveOrderModal.html">
</div>

<div id="deleteOrderModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4 data-ng-show="selectedOrders.length == 1">
                    Delete order {{selectedOrders[0].ID}}
                </h4>
                <h4 data-ng-show="selectedOrders.length > 1">
                    Delete selected orders
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteOrder(0)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="orders" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th data-ng-click="toggleAllCheckboxes()">
                        <i style="padding-left:5px;"
                            data-ng-class="{true:'fa fa-check-square-o', false:'fa fa-square-o'}[selectedOrders.length == jsonorders.length]"></i>
                    </th>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Description</th>
                    <th>Project</th>
                    <th>Supplier</th>
                    <th>Client</th>
                    <th class="currency">Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonorders"
                    selection-model
                    selection-model-type="checkbox"
                    selection-model-mode="multiple"
                    selection-model-selected-class="active"
                    selection-model-cleanup-strategy="deselect"
                    selection-model-selected-attribute="selected"
                    selection-model-selected-items="selectedOrders"
                    id="order-{{obj.ID}}">
                    <td class="hidden-checkbox"><input type="checkbox" id="hidden-checkbox-{{obj.ID}}" name=""/>
                                                <label for="hidden-checkbox-{{obj.ID}}"></label>
                    </td>
                    <td>{{obj.ID}}</td>
                    <td>{{obj.Date}}</td>
                    <td>{{obj.Description}}</td>
                    <td>{{obj.Project}}</td>
                    <td>{{obj.Supplier}}</td>
                    <td>{{obj.Client}}</td>
                    <td class="currency" ng-bind-html="obj.Total | currency:currency"></td>
                    <td>{{obj.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
