<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills navbar-left">
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Add Order"
                    data-ng-click="addingState()"
                    data-target="#saveOrderModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'"
                data-ng-hide="selectedOrders.length != 1">
                <a title="Edit Order"
                    data-ng-show="selectedOrders[0].Status == 'Draft'"
                    data-ng-click="editingState()"
                    data-target="#saveOrderModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li data-ng-hide="selectedOrders.length != 1">
                <a title="View"
                    data-ng-show="selectedOrders[0].Status == 'Processed'"
                    data-ng-click="editingState()"
                    data-target="#saveOrderModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-square-o"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Delete Order"
                    data-ng-show="selectedOrders.length == 1"
                    data-target="#deleteOrderModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Delete Orders"
                    data-ng-show="selectedOrders.length > 1"
                    data-target="#deleteOrderModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-disable="user.permissions.orders_workflow != 'Processed'">
                <a title="Process"
                    data-ng-show="selectedOrders[0].Status == 'Draft'"
                    data-ng-click="toggleOrderStatus('Processed', 0)">
                        <i class="fa fa-arrow-right"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.orders == 'edit'">
                <a title="Retract"
                    data-ng-show="selectedOrders[0].Status == 'Processed'"
                    data-ng-click="toggleOrderStatus('Draft', 0)">
                        <i class="fa fa-arrow-left"></i>
                </a>
            </li>
            <li data-ng-show="selectedOrders.length == 1">
                <a title="PDF Order Report"
                    data-ng-click="getReport('order')"
                    class="pdf_download">
                    <i class="fa fa-file-pdf-o"></i>
                </a>
            </li>
            <li data-ng-show="selectedOrders.length == 1">
                <a title="Excel Order Report"
                    data-ng-click="getExcelReport('order')"
                    class="excel_download">
                    <i class="fa fa-file-excel-o"></i>
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills navbar-right ">
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{'filter-unselected': !filters.OrderNumber}">
                    Order number <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li><input type="number"
                        class="filter-textbox"
                        data-ng-model="filters.OrderNumber"
                        data-ng-model-options="{debounce: 1000}"
                        placeholder="Order number"
                        data-ng-change="loadOrderSection(); filterBy('ordernumber')"></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-click="focusproject = !focusproject"
                    data-ng-class="{'filter-unselected': !filters.Project}">
                    Project <span class="caret"></span>
                </a>
               <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Project"
                                ac-options="project.ID as project.Name for project in projectsList"
                                ac-data="projectsList"
                                ac-focus-when="focusproject"
                                ac-settings="{minWidth: '400px'}"
                                ac-change="loadOrderSection(); filterBy('project')">
                        </select>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-click="focusclient = !focusclient"
                    data-ng-class="{'filter-unselected': !filters.Client}">
                    Client <span class="caret"></span></a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Client"
                                ac-options="client.ID as client.Name for client in clientsList"
                                ac-data="clientsList"
                                ac-focus-when="focusclient"
                                ac-settings="{minWidth: '350px'}"
                                ac-change="loadOrderSection(); filterBy('client')">
                        </select>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-click="focussupplier = !focussupplier"
                    data-ng-class="{'filter-unselected': !filters.Supplier}">
                    Supplier <span class="caret"></span></a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Supplier"
                                ac-options="supplier.ID as supplier.Name for supplier in suppliersList"
                                ac-data="suppliersList"
                                ac-focus-when="focussupplier"
                                ac-settings="{minWidth: '350px'}"
                                ac-change="loadOrderSection(); filterBy('supplier')">
                        </select>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-click="focusstatus = !focusstatus"
                    data-ng-class="{'filter-unselected': !filters.Status}">
                    Status <span class="caret"></span></a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Status"
                                ac-options="status.Status as status.Status for status in statusList"
                                ac-data="statusList"
                                ac-focus-when="focusstatus"
                                ac-settings="{minWidth: '350px'}"
                                ac-change="loadOrderSection(); filterBy('status')">
                        </select>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""
                    data-ng-click="clearFilters(); loadOrderSection()">
                    Clear
                </a>
            </li>
        </ul>
    </div>
</nav>

<pagination data-ng-show="orderListLength > maxPageSize"
            boundary-links="true"
            total-items="orderListLength"
            items-per-page="pageSize"
            data-ng-model="currentPage"
            data-ng-change="loadOrderSection()"
            max-size="maxPageSize"
            class="pagination-sm nav-center"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;">
</pagination>


<div custom-modals modal-id="saveOrderModal"
    modal-type="order"
    modal-src="modal_templates/saveOrderModal.html">
</div>

<div id="deleteOrderModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4 data-ng-show="selectedOrders.length == 1">
                    Delete order {{selectedOrders[0].ID}}
                </h4>
                <h4 data-ng-show="selectedOrders.length > 1">
                    Delete selected orders
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteOrder(0)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="orders" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th data-ng-click="toggleAllCheckboxes()">
                        <i style="padding-left:5px;"
                            data-ng-class="{true:'fa fa-check-square-o', false:'fa fa-square-o'}[selectedOrders.length == jsonorders.length]"></i>
                    </th>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Description</th>
                    <th>Project</th>
                    <th>Supplier</th>
                    <th>Client</th>
                    <th class="currency">Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonorders"
                    selection-model
                    selection-model-type="checkbox"
                    selection-model-mode="multiple"
                    selection-model-selected-class="active"
                    selection-model-cleanup-strategy="deselect"
                    selection-model-selected-attribute="selected"
                    selection-model-selected-items="selectedOrders"
                    id="order-{{obj.ID}}">
                    <td class="hidden-checkbox">
                            <input type="checkbox" id="hidden-checkbox-{{obj.ID}}" name=""/>
                            <label for="hidden-checkbox-{{obj.ID}}"></label>
                    </td>
                    <td>{{obj.ID}}</td>
                    <td>{{obj.Date}}</td>
                    <td>{{obj.Description}}</td>
                    <td>{{obj.Project}}</td>
                    <td>{{obj.Supplier}}</td>
                    <td>{{obj.Client}}</td>
                    <td class="currency" ng-bind-html="obj.Total | currency:currency"></td>
                    <td>{{obj.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
