<script type="text/ng-template" id="angularOrderTree.html">
  <div ui-tree-handle class="tree-node order-tree-node-content">
      <input type="button"
          class="tree-control expanded"
          data-ng-show="node.Subitem.length && node.expanded"
          data-ng-click="selectNodeHead(node)">
      </input>
      <input type="button"
          class="tree-control collapsed"
          data-ng-show="node.Subitem.length && !node.expanded"
          data-ng-click="selectNodeHead(node)">
      </button>
      <input type="button"
        class="tree-control normal"
        data-ng-hide="node.Subitem.length">
      </input>
      <span class="circle {{node.NodeType}}">&nbsp;{{node.NodeTypeAbbr}}&nbsp;</span>
      <span class="order-tree-node"
          id="{{node.ID}}">
          {{node.Name}}
      </span>
      <button class="custom-checkbox align-right"
              data-ng-show="{{node.NodeType == 'OrderItem'}}"
              data-ng-click="toggleBudgetItems(node)">
          <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o'}[node.selected]"
              class="checkbox-icon">
          </i>
      </button>
      <button class="custom-checkbox align-right"
              data-ng-show="{{node.NodeType == 'BudgetGroup'}}"
              data-ng-click="toggleNode(node)">
          <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o'}[node.selected]"
              class="checkbox-icon">
          </i>
      </button>
  </div>
  <ol ui-tree-nodes ng-model="node.Subitem" data-ng-hide="!node.expanded" data-type="{{node.NodeType}}">
      <li ng-repeat="node in node.Subitem"
          data-type="{{node.NodeType}}"
          ui-tree-node
          ng-include="'angularOrderTree.html'">
      </li>
  </ol>
</script>

<div ui-tree="treeOptions"
    data-max-depth="0"
    data-drag-enabled="false"
    id="tree-root">
    <ol ui-tree-nodes ng-model="openProjectsList">
        <li ng-repeat="node in openProjectsList"
            ui-tree-node
            data-ng-include="'angularOrderTree.html'"></li>
    </ol>
</div>
