<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills navbar-left">
            <li data-ng-show="user.permissions.payments == 'edit'">
                <a title="Add Payment"
                    data-ng-click="addingState()"
                    data-target="#savePaymentModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.payments == 'edit'">
                <a title="Edit Payment"
                    data-ng-show="selectedItems.length == 1"
                    data-ng-click="editingState()"
                    data-target="#savePaymentModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.payments == 'edit'">
                <a title="Delete Payment"
                    data-ng-show="selectedItems.length == 1"
                    data-target="#deletePaymentModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.payments == 'edit'">
                <a title="Delete Payments"
                    data-ng-show="selectedItems.length > 1"
                    data-target="#deletePaymentModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li ng-show="paymentsReportEnabled">
                <a title="Payments Report"
                    data-ng-show="selectedItems.length == 1"
                    data-target="#paymentsReport"
                    data-backdrop="static"
                    data-toggle="modal"
                    data-ng-click="filterReportBy()"
                    class="pdf_download">
                    <i class="fa fa-file-pdf-o"></i></a>
                     <!-- hidden anchor for download hook -->
                    <a class="pdf_hidden_download"></a>
            </li>
        </ul>
        <ul class="nav nav-pills navbar-right ">
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-click="focusproject = !focusproject"
                    data-ng-class="{'filter-unselected': !filters.Project}">
                    Project <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Project"
                                ac-options="project.ID as project.Name for project in projectsList"
                                ac-data="projectsList"
                                ac-focus-when="focusproject"
                                ac-settings="{minWidth: '400px'}"
                                ac-change="loadPaymentSection()">
                        </select>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""
                    class="dropdown-toggle"
                    id="filterDateDropdown"
                    role="button"
                    data-toggle="dropdown"
                    data-target=""
                    data-ng-class="{'filter-unselected': !filters.Date}">
                    Date <span class="caret"></span>
                </a>
                <ul class="dropdown-menu"
                    role="menu"
                    aria-labelledby="dLabel">
                    <datetimepicker
                        data-ng-model="filters.Date"
                        data-on-set-time="loadPaymentSection()"
                        data-datetimepicker-config="{ dropdownSelector: '#filterDateDropdown' ,
                                                    minView:'day'}"/>
                </ul>
            </li>
            <li>
                <a href=""
                    data-ng-click="clearFilters(); loadPaymentSection()">
                    Clear
                </a>
            </li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="savePaymentModal"
    modal-type="payment"
    modal-src="modal_templates/savePaymentModal.html">
</div>
<!-- <div custom-modals modal-id="paymentsReport"
    modal-src="modal_templates/paymentsReport.html">
</div> -->

<div id="deletePaymentModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" data-ng-show="selectedItems.length == 1">
                <h4>Delete payment {{selectedItems[0].ID}}</h4>
            </div>
            <div class="modal-body" data-ng-show="selectedItems.length > 1">
                <h4>Delete selected payments</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deletePayment(0)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="payments" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th data-ng-click="toggleAllCheckboxes()">
                        <i style="padding-left:5px;"
                            data-ng-class="{true:'fa fa-check-square-o', false:'fa fa-square-o'}[selectedItems.length == jsonpayments.length]"></i>
                    </th>
                    <th>Payment ID</th>
                    <th>Payment Date</th>
                    <th>Claim ID</th>
                    <th>Project</th>
                    <th class="currency">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonpayments"
                    id="payment-{{obj.ID}}"
                    selection-model
                    selection-model-type="checkbox"
                    selection-model-mode="multiple"
                    selection-model-selected-class="active"
                    selection-model-cleanup-strategy="deselect"
                    selection-model-selected-attribute="selected"
                    selection-model-selected-items="selectedItems">
                    <td class="hidden-checkbox">
                            <input type="checkbox" id="hidden-checkbox-{{obj.ID}}" name=""/>
                            <label for="hidden-checkbox-{{obj.ID}}"></label>
                    </td><td>{{obj.ID}}</td>
                    <td>{{obj.Date}}</td>
                    <td>{{obj.ClaimID}}</td>
                    <td>{{obj.Project}}</td>
                    <td class="currency" ng-bind-html="obj.Amount | currency:currency"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
