<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li>
                <a title="Add Project" data-ng-click="changeAddingType('Project'); loadProjectRelatedList()"
                 data-target="#addProject" data-toggle="modal" class="project-button">
                    <i class="fa fa-plus-square"></i> P</a>
            </li>
            <li>
                <a title="Open Project" data-target="#selectProjectModal" data-toggle="modal"><i class="fa fa-folder-open"></i></a>
            </li>
            <div ng-include="'partials/treeview_menu.html'"></div>
        </ul>
    </div>
</nav>

<div ng-include="'modal_templates/projectsPageModals.html'"></div>

<div class="container-fluid">
    <div id="costs" class="row">
        <div id="left">
            <div ui-tree="treeOptions"
                id="tree-root">
                <ol ui-tree-nodes="" ng-model="projectsRoot.Subitem" data-type="{{projectsRoot.NodeType}}">
                    <li ng-repeat="node in projectsRoot.Subitem"
                        data-type="{{node.NodeType}}"
                        ui-tree-node
                        ng-include="'partials/angularTree.html'"></li>
                </ol>
            </div>
        </div>
        <div id="sidebar-resizer"
            resizer="vertical"
            resizer-width="6"
            resizer-left="#left"
            resizer-right="#right"
            resizer-max="1000">
        </div>
        <div id="right">
            <projectslickgridjs id="optimate-data-grid"></projectslickgridjs>
        </div>
    </div>
</div>

<!-- <div class="flex-box">
    <div id="left">
        <div ui-tree="treeOptions" id="tree-root">
            <ol ui-tree-nodes="" ng-model="projectsRoot.Subitem" data-type="{{projectsRoot.NodeType}}">
                <li data-ng-repeat="node in projectsRoot.Subitem"
                    data-type="{{node.NodeType}}"
                    ui-tree-node
                    data-ng-include="'partials/angularTree.html'"></li>
            </ol>
        </div>
    </div>
    <div id="sidebar-resizer"
        resizer="vertical"
        resizer-width="6"
        resizer-left="#left"
        resizer-right="#right"
        resizer-max="1000">
    </div>
    <div id="right">
        <projectslickgridjs id="optimate-data-grid"></projectslickgridjs>
    </div>
</div> -->
