<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul data-ng-show="!rowsSelected" class="nav nav-pills">
            <li data-ng-show="user.permissions.projects == 'edit'">
                <a title="Add Project" data-ng-click="changeAddingType('Project');"
                 data-target="#addProject" data-toggle="modal" class="project-button">
                    <i class="fa fa-plus-square"></i> P</a>
            </li>
            <li>
                <a title="Open Project" data-target="#selectProjectModal" data-toggle="modal">
                    <i class="fa fa-folder-open"></i></a>
            </li>
            <div ng-include="'partials/treeview_menu.html'"></div>
        </ul>
        <ul data-ng-show="rowsSelected" class="nav nav-pills nav-pills-center">
            <li data-ng-show="user.permissions.projects == 'edit'">
                <a role="button" data-ng-click="copySelectedRecords(currentNode)"
                   title="Copy records">
                    <i class="fa fa-files-o"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.projects == 'edit'">
                <a role="button"
                    a-disabled="currentNode.Status == 'Approved'"
                    data-ng-click="cutSelectedRecords(currentNode)"
                    title="Cut records">
                    <i class="fa fa-cut"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.projects == 'edit'">
                <a role="button"
                    a-disabled="currentNode.Status == 'Approved'"
                    data-target="#deleteRecordsConfirmation"
                    data-toggle="modal"
                    title="Delete records">
                    <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.projects == 'edit' && showBudgetActions">
                <a role="button"
                    a-disabled="currentNode.Status == 'Approved'"
                    data-target="#editSelectionMarkup"
                    data-ng-click="loadSelectionMarkup()"
                    data-toggle="modal"
                    title="Edit markup">
                    <i class="fa fa-money"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div id="selectProjectModal" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">Open Project</h3>
            </div>
            <div class="modal-body">
                <select class="chosen width100"
                        chosen
                        inherit_select_classes="true"
                        id="project-select"
                        name="project-select"
                        data-ng-model="selectedProject"
                        ng-options="project.ID as project.Name for project in projectsList">
                    <option value="">Select a project</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="select"
                        class="btn btn-primary"
                        data-ng-click="loadProject()"
                        data-ng-disabled="!selectedProject"
                        data-dismiss="modal">Open
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="debugProjectModal" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">Selected node information</h3>
            </div>
            <div class="modal-body">
                <div class="info-box">
                    <span>
                        <b>ID: </b>{{currentNode.ID}}<br>
                        <b>Parent ID: </b>{{currentNode.ParentID}}<br>
                        <b>Description: </b>{{currentNode.Description}}<br>
                        <b>Type: </b>{{currentNode.NodeType}}<br>
                        <b>Ordered: </b>{{currentNode.Ordered}}<br>
                        <b>Invoiced: </b>{{currentNode.Invoiced}}<br>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="select" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteConfirmation" class="modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Are you sure you want to delete {{currentNode.Name}}?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary delete-node" data-dismiss="modal" data-ng-click="deleteThisNode(currentNode.ID)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteRecordsConfirmation" class="modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Are you sure you want to deleted the selected records?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary delete-node" data-dismiss="modal" data-ng-click="deleteSelectedRecords(currentNode.ID)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- template for the overheads modal -->
<div custom-modals modal-id="editOverheads"
    modal-src="modal_templates/editOverheads.html">
</div>
<div custom-modals modal-id="editSelectionMarkup"
    modal-src="modal_templates/editSelectionMarkup.html">
</div>

<!-- div directives for the custom modals -->
<div custom-modals modal-id="addBudgetGroup"
    modal-type="{{addingNodeType}}"
    modal-src="modal_templates/addBudgetGroup.html">
</div>
<div custom-modals modal-id="addBudgetItem"
    modal-type="{{addingNodeType}}"
    modal-src="modal_templates/addBudgetItem.html">
</div>
<div custom-modals modal-id="addResource"
    modal-type="{{addingNodeType}}"
    modal-src="modal_templates/addResource.html">
</div>
<div custom-modals modal-id="addResourceCategory"
    modal-type="{{addingNodeType}}"
    modal-src="modal_templates/addResourceCategory.html">
</div>
<div custom-modals modal-id="addProject"
    modal-type="{{addingNodeType}}"
    modal-src="modal_templates/addProject.html">
</div>
<div custom-modals modal-id="addResourceUnit"
    modal-type="{{addingNodeType}}"
    modal-src="modal_templates/addResourceUnit.html">
</div>
<div custom-modals modal-id="addResourcePart"
    modal-type="{{addingNodeType}}"
    modal-src="modal_templates/addResourcePart.html">
</div>

<!-- templates for the report modals -->
<div custom-modals modal-id="projectBudgetReport"
    modal-src="modal_templates/projectBudgetReport.html">
</div>
<div custom-modals modal-id="costComparisonReport"
    modal-src="modal_templates/costComparisonReport.html">
</div>
<div custom-modals modal-id="resourceListReport"
    modal-src="modal_templates/resourceListReport.html">
</div>

<div class="container-fluid">
    <div id="costs" class="row">
        <div id="left">
            <div id="tree-outer">
                <div ui-tree="treeOptions"
                    expand-on-hover="true"
                    data-drag-enabled="user.permissions.projects == 'edit'"
                    id="tree-root">
                    <ol ui-tree-nodes="" ng-model="projectsRoot.Subitem">
                        <li ng-repeat="node in projectsRoot.Subitem"
                            data-ng-class="{'node-cut': node.cut}"
                            data-type="{{node.NodeType}}"
                            ui-tree-node
                            ng-include="'partials/angularTree.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="optimate-data-grid-outer">
                <projectslickgridjs id="optimate-data-grid"></projectslickgridjs>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="duplicateConfirmationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{selections.resourceName}} already exists in this resource list.</h3>
    </div>
    <div class="modal-body">
        <p>Do you want to overwrite it or skip it?</p>
        <table>
            <tr data-ng-click="selections.doAll = !selections.doAll">
                <td>
                    <button class="custom-checkbox">
                        <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o', false:'fa fa-square-o'}[selections.doAll]"></i>
                    </button>
                </td>
                <td>&nbsp;Do this for all existing resources</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="skip()">Skip</button>
        <button class="btn btn-warning" data-ng-click="overwrite()">Overwrite</button>
    </div>
</script>

<script type="text/ng-template" id="checkRateAndQuantityModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{modaltitle}}</h3>
    </div>
    <div class="modal-body">
        <table>
            <tr><td>Include:</td></tr>
            <tr data-ng-repeat="selection in selections"
                data-ng-click="selection.selected = !selection.selected">
                <td>
                    <button class="custom-checkbox">
                        <i data-ng-class="{true:'fa fa-check-square-o',undefined:'fa fa-square-o', false:'fa fa-square-o'}[selection.selected]"></i>
                    </button>
                </td>
                <td>&nbsp;{{selection.Name}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="done()">Paste</button>
    </div>
</script>

<script>
$(document).ready(function() {

// init
var leftPanel = $("#left_slide_panel");
var resize= $("#left");
var containerWidth = $("#costs").width();

$(resize).resizable({
      handles: 'e',
      maxWidth: (containerWidth - 30),
      minWidth: 30,
      resize: function(event, ui){
          var currentWidth = ui.size.width;

          // this accounts for some lag in the ui.size value, if you take this away
          // you'll get some instable behaviour
          $(this).width(currentWidth);

          // set the content panel width
          $("#right").width(containerWidth - currentWidth);
      }
});


});
</script>
