<div class="container-fluid">
    <div id="costs" class="row">
        <div class="left">
            <a data-target="#selectProjectModal" href="" class="btn btn-primary" data-toggle="modal">Open a Project</a>
            <div id="selectProjectModal" class="modal fade" ng-controller="projectlistController">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">&times;
                            </button>
                            <h3 class="modal-title">Open a project</h3>
                        </div>
                        <div class="modal-body">
                            <span> Select project: </span>
                            <span>
                                <select id="project-select">
                                    <option ng-repeat="obj in projectsList" value="{{obj.ID}}">{{obj.Name}}</option>
                                </select>
                            </span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Cancel</button>
                            <button type="select" class="btn btn-primary" id="select-project-submit"
                                    data-dismiss="modal">Open</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- div directives for the custom modals -->
                <div custom-modals modal-id="addbudgetgroup"
                    modal-type="BudgetGroup"
                    modal-src="modal_templates/addbudgetgroup.html">
                </div>
                <div custom-modals modal-id="addbudgetitem"
                    modal-type="BudgetItem"
                    modal-src="modal_templates/addbudgetitem.html">
                </div>
                <div custom-modals modal-id="addcomponent"
                    modal-type="Component"
                    modal-src="modal_templates/addcomponent.html">
                </div>
                <div custom-modals modal-id="addresource"
                    modal-type="Resource"
                    modal-src="modal_templates/addresource.html">
                </div>
                <div
                    data-angular-treeview="true"
                    data-tree-id="mytree"
                    data-tree-model="roleList"
                    data-node-id="ID"
                    data-node-label="Name"
                    data-node-type="NodeType"
                    data-node-description="Description"
                    data-node-children="Subitem"
                    class="angular-treeview">
                </div>
                <div class="info-box">
                    <span>
                        <b>Selected Node ID: </b>{{mytree.currentNode.ID}}<br>
                        <b>Selected Node description: </b>{{mytree.currentNode.Description}}<br>
                        <b>Selected Node type: </b>{{mytree.currentNode.NodeType}}<br>
                    </span>
                </div>
            </div>
        </div>
        <div class="right">
            <div id="optimate-data-grid-outer">
                <projectslickgridjs id="optimate-data-grid"></projectslickgridjs>
            </div>
        </div>
    </div>
</div>
