<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li>
                <a title="Add Supplier" data-target="#addSupplierModal" data-toggle="modal"><i class="fa fa-plus-square"></i></a>
            </li>
            <li ng-show="selectedSupplierId">
                <a title="Edit Supplier" data-target="#editSupplierModal" data-toggle="modal"><i class="fa fa-pencil"></i></a>
            </li>
            <li ng-show="selectedSupplierId">
                <a title="Delete Supplier" ng-click="getDeleteSupplier(selectedSupplierId)"><i class="fa fa-trash"></i></a>
            </li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="addSupplierModal"
    modal-type="Supplier"
    modal-src="modal_templates/addsupplier.html">
</div>

<div custom-modals modal-id="editSupplierModal"
    modal-type="Supplier"
    modal-supplier-id="selectedSupplierId"
    modal-src="modal_templates/editsupplier.html">
</div>


<div class="container-fluid">
    <div id="suppliers" class="row">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonsuppliers" ng-click="showActionsFor(obj)" id="supplier-{{obj.ID}}">
                    <td>{{obj.Name}}</td>
                    <td>{{obj.Address}}</td>
                    <td>{{obj.Phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
