<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div data-ng-show="user.permissions.setup == 'edit'"
        class="container-fluid">
        <ul class="nav nav-pills">
            <li>
                <a title="Add Supplier" data-ng-click="addingState()" data-target="#saveModal" data-toggle="modal"><i class="fa fa-plus-square"></i></a>
            </li>
            <li ng-show="selectedSupplier">
                <a title="Edit Supplier" data-ng-click="editingState()" data-target="#saveModal" data-toggle="modal"><i class="fa fa-pencil"></i></a>
            </li>
            <li ng-show="selectedSupplier">
                <a title="Delete Supplier" data-target="#deleteSupplierModal" data-toggle="modal"><i class="fa fa-trash"></i></a>
            </li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="saveModal"
    modal-type="supplier"
    modal-src="modal_templates/saveModal.html">
</div>

<div id="deleteSupplierModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Delete supplier: {{selectedSupplier.Name}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteSupplier()">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="suppliers" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonsuppliers" ng-click="showActionsFor(obj)" id="supplier-{{obj.ID}}">
                    <td>{{obj.Name}}</td>
                    <td>{{obj.Address}}</td>
                    <td>{{obj.Phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
