<ul>
    <li data-ng-repeat="node in treeModel track by node.ID">
        <i class="collapsed"
            data-ng-show="node.Subitem.length && node.collapsed"
            data-ng-click="selectNodeHead(node)">
        </i>
        <i class="expanded"
            data-ng-show="node.Subitem.length && !node.collapsed"
            data-ng-click="selectNodeHead(node)">
        </i>
        <i class="normal"
            data-ng-hide="node.Subitem.length">
        </i>
        <span class="circle {{node.NodeType}}">&nbsp;{{node.NodeTypeAbbr}}&nbsp;</span>
        <span class="treenode {{node.NodeType}}"
            id="{{node.ID}}"
            data-ng-class="node.selected"
            data-ng-click="selectNodeLabel(node)">
            {{node.Name}}
        </span>
        <div class="dropdown" data-ng-show="node.selected">
            <a id="menu1" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <div class="treeview-dropdown" id="space-for-add-menus"></div>
                <li role="presentation" class="divider"></li>
                <div class="treeview-dropdown">
                <li role="presentation"><a role="button" data-ng-click="copyThisNode(node.ID)">Copy</a></li>
                <li role="presentation"><a role="button" data-ng-click="pasteThisNode(node.ID)">Paste</a></li>
                <li role="presentation"><a role="button" data-ng-click="deleteThisNode($index)">Delete</a></li>
                </div>
            </ul>
        </div>
        <div data-ng-hide="!node.collapsed"
            data-tree-model="node.Subitem">
        </div>
    </li>
</ul>
