<ul>
    <li data-ng-repeat="node in treeModel">
        <i class="collapsed"
            data-ng-show="node.Subitem.length && node.collapsed"
            data-ng-click="selectNodeHead(node)">
        </i>
        <i class="expanded"
            data-ng-show="node.Subitem.length && !node.collapsed"
            data-ng-click="selectNodeHead(node)">
        </i>
        <i class="normal"
            data-ng-hide="node.Subitem.length">
        </i>
        <span class="treenode {{node.NodeType}}"
            id="{{node.ID}}"
            data-ng-class="node.selected"
            data-ng-click="selectNodeLabel(node)">
            {{$eval('node.' + nodeLabel)}}
        </span>
        <div data-ng-hide="!node.collapsed"
            data-tree-model="node.Subitem"
            data-node-id="ID"
            data-node-label="Name"
            data-node-children="Subitem">
        </div>
    </li>
</ul>
