<div data-ng-show="currentNode">
    <div data-ng-switch="currentNode.NodeType">
        <div data-ng-switch-when="Project">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <a role="button" class="close-project"
                        data-ng-click="closeProject(currentNode.ID)"
                       title="Close Project">
                        <i class="fa fa-folder"></i>
                    </a>
                </li>
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addBudgetGroup"
                        data-ng-click="changeAddingType('BudgetGroup')"
                       title="Add Budget Group" class="budget-group-button">
                        <i class="fa fa-plus-square"></i> G
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addProject"
                        data-ng-click="editNode(currentNode.ID)"
                       title="Edit Project">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="copyThisNode(currentNode)"
                       title="Copy Project">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="cutThisNode(currentNode)"
                       title="Cut Project">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="copiedNode" data-ng-switch="copiedNode.NodeType">
                    <a data-ng-switch-when="Records"
                        role="button"
                        data-ng-click="pasteSelectedRecords(currentNode)"
                        title="Paste records">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="Project"
                        role="button"
                        data-ng-click="pasteThisNode(projectsRoot)"
                        title="Paste Project">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="BudgetGroup"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode)"
                        title="Paste Budget Group">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button" style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button"
                        data-target="#deleteConfirmation"
                        data-toggle="modal"
                        title="Delete Project">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
                <li>
                    <a title="Markup"
                    data-ng-click="loadOverheads(currentNode.ID)"
                    data-target="#editOverheads"
                    data-toggle="modal">
                    <i class="fa fa-money"></i></a>
                </li>
                <li>
                   <a class="dropdown-toggle pdf_download"
                    data-toggle="dropdown" title="Print">
                    <i class="fa fa-file-pdf-o"></i></a>
                    <!-- hidden anchor for download hook -->
                    <a class="pdf_hidden_download"></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-target="#projectBudgetReport" data-toggle="modal"
                               data-ng-click="loadNodeForPrinting(currentNode.ID); loadBudgetItemTypes()">Project Budget Report</a>
                        </li>
                        <li>
                            <a data-target="#costComparisonReport" data-toggle="modal"
                               data-ng-click="loadNodeForPrinting(currentNode.ID); loadBudgetItemTypes()">Cost Comparison Report</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="BudgetGroup">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addBudgetGroup"
                        data-ng-click="changeAddingType('BudgetGroup')"
                       title="Add Budget Group" class="budget-group-button">
                        <i class="fa fa-plus-square"></i> G
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addBudgetItem"
                        data-ng-click="changeAddingType('BudgetItem'); loadBudgetItemRelatedList(currentNode.ID)"
                       title="Add Budget Item" class="budget-item-button">
                        <i class="fa fa-plus-square"></i> I
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addBudgetGroup"
                        data-ng-click="editNode(currentNode.ID)"
                       title="Edit Budget Group">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="copyThisNode(currentNode)"
                       title="Copy Budget Group">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="cutThisNode(currentNode)"
                       title="Cut Budget Group">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit' && copiedNode" data-ng-switch="copiedNode.NodeType">
                    <a data-ng-switch-when="Records"
                        role="button"
                        data-ng-click="pasteSelectedRecords(currentNode)"
                        title="Paste records">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="Project"
                        role="button"
                        data-ng-click="pasteThisNode(projectsRoot)"
                        title="Paste Project">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="BudgetGroup"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode)"
                        title="Paste Budget Group">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="BudgetItem"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode)"
                        title="Paste Budget Item">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button"
                        style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Budget Group">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="BudgetItem">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit' && currentNode.ParentType != 'BudgetItem'">
                    <a role="button" data-toggle="modal" data-target="#addBudgetItem"
                        data-ng-click="editNode(currentNode.ID)"
                       title="Edit Budget Item">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="copyThisNode(currentNode)"
                       title="Copy Budget Item">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'&& currentNode.ParentType != 'BudgetItem'">
                    <a role="button" data-ng-click="cutThisNode(currentNode)"
                       title="Cut Budget Item">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit' && currentNode.ParentType != 'BudgetItem' && copiedNode"
                    data-ng-switch="copiedNode.NodeType">
                    <a data-ng-switch-when="Records"
                        role="button"
                        data-ng-click="pasteSelectedRecords(currentNode)"
                        title="Paste records">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="Project"
                        role="button"
                        data-ng-click="pasteThisNode(projectsRoot)"
                        title="Paste Project">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button"
                        style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit' && currentNode.ParentType != 'BudgetItem'">
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Budget Item">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="SimpleBudgetItem">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addBudgetItem"
                        data-ng-click="editNode(currentNode.ID)"
                       title="Edit Budget Item">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="copyThisNode(currentNode)"
                       title="Copy Budget Item">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="cutThisNode(currentNode)"
                       title="Cut Budget Item">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="copiedNode" data-ng-switch="copiedNode.NodeType">
                    <a data-ng-switch-when="Records"
                        role="button"
                        data-ng-click="pasteSelectedRecords(currentNode)"
                        title="Paste records">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="Project"
                        role="button"
                        data-ng-click="pasteThisNode(projectsRoot)"
                        title="Paste Project">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button"
                        style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Budget Item">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="ResourceCategory">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addResourceCategory"
                        data-ng-click="changeAddingType('ResourceCategory')"
                       title="Add Resource Category" class="resource-category-button">
                        <i class="fa fa-plus-square"></i> C
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addResource"
                        data-ng-click="changeAddingType('Resource');"
                       title="Add Resource" class="resource-button">
                        <i class="fa fa-plus-square"></i> R
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addResourceUnit"
                        data-ng-click="changeAddingType('ResourceUnit');"
                       title="Add Resource Unit" class="resource-unit-button">
                        <i class="fa fa-plus-square"></i> U
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addResourceCategory"
                        data-ng-click="editNode(currentNode.ID)"
                       title="Edit Resource Category">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="copyThisNode(currentNode)"
                       title="Copy Resource Category">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="cutThisNode(currentNode)"
                       title="Cut Resource Category">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit' && copiedNode" data-ng-switch="copiedNode.NodeType">
                    <a data-ng-switch-when="Records"
                        role="button"
                        data-ng-click="pasteSelectedRecords(currentNode)"
                        title="Paste records">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="Project"
                        role="button"
                        data-ng-click="pasteThisNode(projectsRoot)"
                        title="Paste Project">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="ResourceCategory"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode)"
                        title="Paste Resource Category">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="Resource"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode)"
                        title="Paste Resource">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="ResourceUnit"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode)"
                        title="Paste Resource Unit">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button" style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Resource List">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
                <li>
                    <a title="Resource List Report" data-target="#resourceListReport"
                    data-toggle="modal" data-ng-click="loadSuppliers()"
                    class="pdf_download">
                    <i class="fa fa-file-pdf-o"></i></a>
                    <!-- hidden anchor for download hook -->
                    <a class="pdf_hidden_download"></a>
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="Resource">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addResource"
                        data-ng-click="editNode(currentNode.ID)"
                       title="Edit Resource">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="copyThisNode(currentNode)"
                       title="Copy Resource">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="cutThisNode(currentNode)"
                       title="Cut Resource">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit' && copiedNode" data-ng-switch="copiedNode.NodeType">
                    <a data-ng-switch-when="Project"
                        role="button"
                        data-ng-click="pasteThisNode(projectsRoot)"
                        title="Paste Project">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button" style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Resource">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="ResourceUnit">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addResourcePart"
                        data-ng-click="changeAddingType('ResourcePart');"
                       title="Add Resource Part" class="resource-part-button">
                        <i class="fa fa-plus-square"></i> P
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addResourceUnit"
                        data-ng-click="editNode(currentNode.ID)"
                       title="Edit Resource Unit">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="copyThisNode(currentNode)"
                       title="Copy Resource Unit">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="cutThisNode(currentNode)"
                       title="Cut Resource Unit">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit' && copiedNode" data-ng-switch="copiedNode.NodeType">
                    <a data-ng-switch-when="Project"
                        role="button"
                        data-ng-click="pasteThisNode(projectsRoot)"
                        title="Paste Project">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button" style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Resource Unit">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="ResourcePart">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-toggle="modal" data-target="#addResourcePart"
                        data-ng-click="editNode(currentNode.ID)"
                       title="Edit Resource Part">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="copyThisNode(currentNode)"
                       title="Copy Resource Part">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-ng-click="cutThisNode(currentNode)"
                       title="Cut Resource Part">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit' && copiedNode" data-ng-switch="copiedNode.NodeType">
                    <a data-ng-switch-when="Project"
                        role="button"
                        data-ng-click="pasteThisNode(projectsRoot)"
                        title="Paste Project">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button" style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li data-ng-show="user.permissions.projects == 'edit'">
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Resource Part">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
