
<div data-ng-show="currentNode">
    <div data-ng-switch="currentNode.NodeType">
        <div data-ng-switch-when="Project">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <a role="button" class="close-project"
                        data-ng-click="closeProject(currentNode.ID)"
                       title="Close Project">
                        <i class="fa fa-folder"></i>
                    </a>
                </li>
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addBudgetGroup"
                        data-ng-click="changeAddingType('BudgetGroup')"
                       title="Add Budget Group" class="budget-group-button">
                        <i class="fa fa-plus-square"></i> G
                    </a>
                </li>
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addProject"
                        data-ng-click="loadProjectRelatedList(); editNode(currentNode.ID, currentNode.NodeType)"
                       title="Edit Project">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="copyThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Copy Project">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="cutThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Cut Project">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="copiedNode" data-ng-switch="copiedNode.type">
                    <a data-ng-switch-when="BudgetGroup"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode.ID)"
                        title="Paste Budget Group">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="ResourceCategory"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode.ID)"
                        title="Paste Resource Category" class="resource-category-button">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button" style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li>
                    <a role="button"
                        data-target="#deleteConfirmation"
                        data-toggle="modal"
                        title="Delete Project">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
                <li>
                    <a title="Overheads"
                    data-ng-click="loadOverheads(currentNode.ID)"
                    data-target="#editOverheads"
                    data-toggle="modal">
                    <i class="fa fa-bar-chart"></i></a>
                </li>
                <li>
                    <a title="Project Budget Report" data-target="#projectBudgetReport"
                    data-toggle="modal" data-ng-click="loadComponentTypes()"
                    class="pdf_download">
                    <i class="fa fa-file-pdf-o"></i></a>
                    <a class="pdf_hidden_download"></a> <!-- hidden anchor for download hook -->
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="BudgetGroup">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addBudgetGroup"
                        data-ng-click="changeAddingType('BudgetGroup')"
                       title="Add Budget Group" class="budget-group-button">
                        <i class="fa fa-plus-square"></i> G
                    </a>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addBudgetItem"
                        data-ng-click="changeAddingType('BudgetItem')"
                       title="Add Budget Item" class="budget-item-button">
                        <i class="fa fa-plus-square"></i> I
                    </a>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addComponent"
                        data-ng-click="changeAddingType('Component'); loadResourceList('add'); loadComponentOverheads(currentNode.ID)"
                       title="Add Component" class="component-button">
                        <i class="fa fa-plus-square"></i> C
                    </a>
                </li>
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addBudgetGroup"
                        data-ng-click="editNode(currentNode.ID, currentNode.NodeType)"
                       title="Edit Budget Group">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="copyThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Copy Budget Group">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="cutThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Cut Budget Group">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="copiedNode" data-ng-switch="copiedNode.type">
                    <a data-ng-switch-when="BudgetGroup"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode.ID)"
                        title="Paste Budget Group">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="BudgetItem"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode.ID)"
                        title="Paste Budget Item">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="Component"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode.ID)"
                        title="Paste Component">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button"
                        style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                <li>
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Budget Group">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
                <li>
                    <a title="Budget Group Report" data-target="#projectBudgetReport"
                    data-toggle="modal" data-ng-click="loadComponentTypes()"
                    class="pdf_download">
                    <i class="fa fa-file-pdf-o"></i></a>
                    <a class="pdf_hidden_download"></a> <!-- hidden anchor for download hook -->
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="BudgetItem">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addBudgetItem"
                        data-ng-click="changeAddingType('BudgetItem')"
                       title="Add Budget Item" class="budget-item-button">
                        <i class="fa fa-plus-square"></i> I
                    </a>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addComponent"
                        data-ng-click="changeAddingType('Component'); loadResourceList('add'); loadComponentOverheads(currentNode.ID)"
                       title="Add Component" class="component-button">
                        <i class="fa fa-plus-square"></i> C
                    </a>
                </li>
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addBudgetItem"
                        data-ng-click="editNode(currentNode.ID, currentNode.NodeType)"
                       title="Edit Budget Item">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="copyThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Copy Budget Item">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="cutThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Cut Budget Item">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="copiedNode" data-ng-switch="copiedNode.type">
                    <a data-ng-switch-when="BudgetItem"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode.ID)"
                        title="Paste BudgetItem">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="Component"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode.ID)"
                        title="Paste Component">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button"
                        style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Budget Item">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="ResourceCategory">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addResourceCategory"
                        data-ng-click="changeAddingType('ResourceCategory')"
                       title="Add Resource Category" class="resource-category-button">
                        <i class="fa fa-plus-square"></i> C
                    </a>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addResource"
                        data-ng-click="changeAddingType('Resource'); loadResourceRelatedList()"
                       title="Add Resource" class="resource-button">
                        <i class="fa fa-plus-square"></i> R
                    </a>
                </li>
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addResourceCategory"
                        data-ng-click="editNode(currentNode.ID, currentNode.NodeType)"
                       title="Edit Resource Category">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="copyThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Copy Resource Category">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="cutThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Cut Resource Category">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="copiedNode" data-ng-switch="copiedNode.type">
                    <a data-ng-switch-when="ResourceCategory"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode.ID)"
                        title="Paste Resource Category">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-when="Resource"
                        role="button"
                        data-ng-click="pasteThisNode(currentNode.ID)"
                        title="Paste Resource">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <a data-ng-switch-default
                        role="button" style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Resource List">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
                <li>
                    <a title="Resource List Report" class="pdf_download"
                    data-ng-click="getReport('resourcelist', currentNode.ID)">
                    <i class="fa fa-file-pdf-o"></i></a>
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="Component">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addComponent"
                        data-ng-click="loadResourceList('edit'); loadComponentOverheads(currentNode.ID); editNode(currentNode.ID, currentNode.NodeType)"
                        title="Edit Component">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="copyThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Copy Component">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="cutThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Cut Component">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Component">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
        <div data-ng-switch-when="Resource">
            <ul class="nav nav-pills no-top-margin">
                <li>
                    <span role="button" class="separator">|
                    </span>
                </li>
                <li>
                    <a role="button" data-toggle="modal" data-target="#addResource"
                        data-ng-click="loadResourceRelatedList(); editNode(currentNode.ID, currentNode.NodeType)"
                       title="Edit Resource">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="copyThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Copy Resource">
                        <i class="fa fa-files-o"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-ng-click="cutThisNode(currentNode.ID, currentNode.NodeType)"
                       title="Cut Resource">
                        <i class="fa fa-cut"></i>
                    </a>
                </li>
                <li data-ng-show="copiedNode">
                    <a data-ng-switch-default
                        role="button" style="color: gray;">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li>
                    <a role="button" data-target="#deleteConfirmation" data-toggle="modal"
                       title="Delete Resource">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
                <li>
                    <a title="Selected node information" data-target="#debugProjectModal"
                    data-toggle="modal">
                    <i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
