<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills navbar-left">
            <li data-ng-show="savingState">
                <input type="text" ng-model="newUnit.Name" placeholder="Enter name">
                <button data-ng-show="savingState == 'add'"
                        data-ng-click="addUnit()" title="Add">
                    <i class="fa fa-plus"></i>
                </button>
                <button data-ng-show="savingState == 'edit'"
                        data-ng-click="editUnit()" title="Save edits">
                    <i class="fa fa-plus"></i>
                </button>
            </li>
            <li data-ng-show="user.permissions.setup == 'edit'">
                <a title="Add unit"
                    data-ng-click="setState('add', undefined)">
                    <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.setup == 'edit'">
                <a title="Edit unit"
                    data-ng-click="setState('edit', {Name:selectedItem.Name, ID:selectedItem.ID})"
                    data-ng-show="selectedItem">
                    <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.setup == 'edit'">
                <a title="Delete unit"
                    data-ng-show="selectedItem"
                    data-target="#deleteConfirmation"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills navbar-right">
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{'filter-unselected': !filters.Name}">
                    Name <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li><input type="text"
                        class="filter-textbox"
                        data-ng-model="filters.Name"
                        placeholder="Name"></li>
                </ul>
            </li>
            <li>
                <a href=""
                    data-ng-click="filters = {}">
                    Clear
                </a>
            </li>
        </ul>
    </div>
</nav>

<div id="deleteConfirmation" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Delete {{selectedItem.Name}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        data-ng-click="deleteUnit()">Delete
                </button>
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="units" class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Unit Name</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="obj in unitList | filter:filters"
                    data-ng-click="showActionsFor(obj, $index)"
                    id="unit-{{obj.ID}}"
                    data-ng-class="{active:obj.active}"
                    class="table-row-hover">
                    <td>{{obj.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
