<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul data-ng-show="user.permissions.setup == 'edit'"
            class="nav nav-pills navbar-left">
            <li>
                <a title="Add User" data-ng-click="addingState()"
                    data-target="#saveUser"
                    data-backdrop="static"
                    data-toggle="modal">
                    <i class="fa fa-plus-square"></i></a>
            </li>
            <li ng-show="selectedUser">
                <a title="Edit User" data-ng-click="editingState()"
                    data-target="#saveUser"
                    data-backdrop="static"
                    data-toggle="modal">
                    <i class="fa fa-pencil"></i></a>
            </li>
            <li ng-show="selectedUser">
                <a title="Delete User"
                    data-target="#deleteUserModal"
                    data-backdrop="static"
                    data-toggle="modal">
                    <i class="fa fa-trash"></i></a>
            </li>
        </ul>
        <ul class="nav nav-pills navbar-right ">
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{'filter-unselected': !filters.username}"
                    data-ng-click="focusName=true">
                    Username <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li><input type="text"
                        focus-on="focusName"
                        class="filter-textbox"
                        data-ng-model="filters.username"
                        placeholder="Username"></li>
                </ul>
            </li>
            <li>
                <a href=""
                    data-ng-click="filters = {}">
                    Clear
                </a>
            </li>
        </ul>
    </div>
</nav>

<div custom-modals modal-id="saveUser"
    modal-type="user"
    modal-src="modal_templates/saveUserModal.html">
</div>

<div id="deleteUserModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Delete User: {{selectedUser.username}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteUser(selectedUser)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="users" class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in users | filter:filters"
                    ng-click="showActionsFor(obj)"
                    ng-class="{active: obj.selected}">
                    <td>{{obj.username}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
