<script type="text/javascript">
    // keep the dropdowns open on click
    $(document).ready(function() {
        $(document).on('click', '.dropdown-menu', function (e) {
            $(this).hasClass('keep-open') && e.stopPropagation();
        });
    });
</script>

<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills navbar-left">
            <li data-ng-show="user.permissions.valuations == 'edit'">
                <a title="Add Valuation"
                    data-ng-click="addingState()"
                    data-target="#saveValuationModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.valuations == 'edit'">
                <a title="Edit Valuation"
                    data-ng-show="selectedValuations.length == 1"
                    data-ng-click="editingState()"
                    data-target="#saveValuationModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.valuations == 'edit'">
                <a title="Delete Valuation"
                    data-ng-show="selectedValuations.length == 1"
                    data-target="#deleteValuationModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.valuations == 'edit'">
                <a title="Delete Valuations"
                    data-ng-show="selectedValuations.length > 1"
                    data-target="#deleteValuationModal"
                    data-backdrop="static"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="selectedValuations.length == 1">
                <a title="PDF Valuation Report"
                data-ng-click="getReport('valuation')"
                class="pdf_download">
                <i class="fa fa-file-pdf-o"></i></a>
            </li>
            <li data-ng-show="selectedValuations.length == 1">
                <a title="Excel Valuation Report"
                data-ng-click="getExcelReport('valuation')"
                class="excel_download">
                <i class="fa fa-file-excel-o"></i></a>
            </li>
        </ul>
        <ul class="nav nav-pills navbar-right ">
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{'filter-unselected': !filters.Project}">
                    Project <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Project"
                                ac-options="project.ID as project.Name for project in filteredProjectsList"
                                ac-data="filteredProjectsList"
                                ac-settings="{minWidth: '350px', maxWidth: '400px'}"
                                ac-change="loadValuationSection()">
                        </select>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""
                    class="dropdown-toggle"
                    id="filterDateDropdown"
                    role="button"
                    data-toggle="dropdown"
                    data-target=""
                    data-ng-class="{'filter-unselected': !filters.Date}">
                    Date <span class="caret"></span>
                </a>
                <ul class="dropdown-menu"
                    role="menu"
                    aria-labelledby="dLabel">
                    <datetimepicker
                        data-ng-model="filters.Date"
                        data-on-set-time="loadValuationSection()"
                        data-datetimepicker-config="{ dropdownSelector: '#filterDateDropdown' ,
                                                    minView:'day'}"/>
                </ul>
            </li>
            <li class="dropdown">
                <a href=""
                    data-toggle="dropdown"
                    data-ng-class="{'filter-unselected': !filters.Status}">
                    Status <span class="caret"></span>
                </a>
                <ul class="dropdown-menu keep-open">
                    <li>
                        <select class="ac-select"
                                ac-model="filters.Status"
                                ac-options="status.Status as status.Status for status in statusList"
                                ac-data="statusList"
                                ac-settings="{minWidth: '350px', maxWidth: '400px'}"
                                ac-change="loadValuationSection(); filterBy('status')">
                        </select>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""
                        data-ng-click="clearFilters(); loadValuationSection()">
                    Clear
                </a>
            </li>
        </ul>
    </div>
</nav>

<pagination data-ng-show="valuationListLength > maxPageSize"
            boundary-links="true"
            total-items="valuationListLength"
            items-per-page="pageSize"
            data-ng-model="currentPage"
            data-ng-change="loadValuationSection()"
            max-size="maxPageSize"
            class="pagination-sm nav-center"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;">
</pagination>

<div custom-modals modal-id="saveValuationModal"
    modal-type="valuation"
    modal-src="modal_templates/saveValuationModal.html">
</div>

<div id="deleteValuationModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" data-ng-show="selectedValuations.length == 1">
                <h4>Delete valuation {{selectedValuations[0].ID}}</h4>
            </div>
            <div class="modal-body" data-ng-show="selectedValuations.length > 1">
                <h4>Delete selected valuations</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteValuation(0)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="valuations" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th data-ng-click="toggleAllCheckboxes()">
                        <i style="padding-left:5px;"
                            data-ng-class="{true:'fa fa-check-square-o', false:'fa fa-square-o'}[selectedValuations.length == jsonvaluations.length]"></i>
                    </th>
                    <th>Valuation Number</th>
                    <th>Project</th>
                    <th>Valuation Date</th>
                    <th class="currency">% Claimed</th>
                    <th class="currency">Amount Claimed</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonvaluations"
                    id="valuation-{{obj.ID}}"
                    selection-model
                    selection-model-type="checkbox"
                    selection-model-mode="multiple"
                    selection-model-selected-class="active"
                    selection-model-cleanup-strategy="deselect"
                    selection-model-selected-attribute="selected"
                    selection-model-selected-items="selectedValuations">
                    <td class="hidden-checkbox">
                            <input type="checkbox" id="hidden-checkbox-{{obj.ID}}" name=""/>
                            <label for="hidden-checkbox-{{obj.ID}}"></label>
                    </td>
                    <td>{{obj.ID}}</td>
                    <td>{{obj.Project}}</td>
                    <td>{{obj.ReadableDate}}</td>
                    <td class="currency">{{obj.PercentageClaimed}}</td>
                    <td class="currency" ng-bind-html="obj.AmountClaimed | currency:currency"></td>
                    <td>{{obj.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
