<nav class="navbar navbar-default navbar-fixed-top action-bar">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li data-ng-show="user.permissions.valuations == 'edit'">
                <a title="Add Valuation"
                    data-ng-click="addingState()"
                    data-target="#saveValuationModal"
                    data-toggle="modal">
                        <i class="fa fa-plus-square"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.valuations == 'edit'">
                <a title="Edit Valuation"
                    data-ng-show="selectedValuation"
                    data-ng-click="editingState()"
                    data-target="#saveValuationModal"
                    data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li data-ng-show="user.permissions.valuations == 'edit'">
                <a title="Delete Valuation"
                    data-ng-show="selectedValuation"
                    data-target="#deleteValuationModal"
                    data-toggle="modal">
                        <i class="fa fa-trash"></i>
                </a>
            </li>
            <li data-ng-show="selectedValuation">
                <a title="PDF Valuation Report"
                data-ng-click="getReport('valuation')"
                class="pdf_download">
                <i class="fa fa-file-pdf-o"></i></a>
                <a class="pdf_hidden_download"></a>
            </li>
            <li data-ng-show="selectedValuation">
                <a title="Excel Valuation Report"
                data-ng-click="getExcelReport('valuation')"
                class="excel_download">
                <i class="fa fa-file-excel-o"></i></a>
                <a class="excel_hidden_download"></a>
            </li>
            <li class="valuation-filters-flexbox active">
                <select chosen
                        class="filter-bar"
                        id="projectFilter"
                        data-ng-model="filters.Project"
                        data-ng-options="project.ID as project.Name for project in filteredProjectsList"
                        data-ng-change="loadValuationSection()">
                    <option value="">Project</option>
                </select>
                <div class="filter-datepicker">
                    <a class="dropdown-toggle"
                        id="filterDateDropdown"
                        role="button"
                        data-toggle="dropdown" href="">
                        <div class="input-group">
                            <input type="text"
                                    date-parser="DD MMMM YYYY"
                                    class="col-sm-7 form-control custom-datepicker"
                                    data-ng-model="filters.Date">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="filters.Date"
                            data-on-set-time="loadValuationSection()"
                            data-datetimepicker-config="{ dropdownSelector: '#filterDateDropdown' ,
                                                            minView:'day'}"/>
                    </ul>
                </div>
                <select chosen
                        class="filter-bar"
                        id="statusFilter"
                        data-ng-model="filters.Status"
                        data-ng-options="status as status for status in statusList"
                        data-ng-change="loadValuationSection(); filterBy('status')">
                    <option value="">Status</option>
                </select>
                <a href=""
                        data-ng-click="clearFilters(); loadValuationSection()">
                    Clear
                </a>
            <li>
            <li class="filters-label"><label>Filter by:</label></li>
        </ul>
    </div>
</nav>

<pagination data-ng-show="valuationListLength > maxPageSize"
            boundary-links="true"
            total-items="valuationListLength"
            items-per-page="pageSize"
            data-ng-model="currentPage"
            data-ng-change="loadValuationSection()"
            max-size="maxPageSize"
            class="pagination-sm nav-center"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;">
</pagination>

<div custom-modals modal-id="saveValuationModal"
    modal-type="valuation"
    modal-src="modal_templates/saveValuationModal.html">
</div>

<div id="deleteValuationModal" class="modal" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Delete valuation {{selectedValuation.ID}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteValuation()">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="valuations" class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Valuation Number</th>
                    <th>Project</th>
                    <th>Valuation Date</th>
                    <th class="currency">% Claimed</th>
                    <th class="currency">Amount Claimed</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonvaluations"
                    ng-click="showActionsFor(obj)"
                    data-ng-class="{active: obj.selected}"
                    id="valuation-{{obj.ID}}">
                    <td>{{obj.ID}}</td>
                    <td>{{obj.Project}}</td>
                    <td>{{obj.ReadableDate}}</td>
                    <td class="currency">{{obj.PercentageClaimed}}</td>
                    <td class="currency" ng-bind-html="obj.AmountClaimed | currency:currency"></td>
                    <td>{{obj.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
