<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Optimate Cost System</title>
    <script type="text/javascript" src="js/firebugx.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="js/jquery.tools.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
     <!-- Angular treeview script and css -->
    <script type="text/javascript" src="js/angular.treeview.js"></script>
    <link rel="stylesheet" type="text/css" href="css/angular.treeview.css">
    <!-- Slickgrid -->
    <script type="text/javascript" src="js/slick.core.js"></script>
    <script type="text/javascript" src="js/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="js/slick.editors.js"></script>
    <script type="text/javascript" src="js/slick.grid.js"></script>
    <script type="text/javascript" src="js/slick.cellrangedecorator.js"></script>
    <script type="text/javascript" src="js/slick.cellrangeselector.js"></script>
    <script type="text/javascript" src="js/slick.cellselectionmodel.js"></script>
    <script type="text/javascript" src="js/slick.autotooltips.js"></script>
    <link rel="stylesheet" type="text/css" href="css/slick.grid.css">
    <link rel="stylesheet" type="text/css" href="gridthemes/slick-default-theme.css">
    <!-- Optimate slickgrid implementation -->
    <script type="text/javascript" src="js/optimate.data.js"></script>

    <!-- CSS and JS for tabs -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- CSS and Js for the modal dialogs -->
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>


</head>
<body>
    <div ng-app="myApp" class="main-container">
        <!-- build the bootstrap tabs -->
        <ul class="nav nav-pills">
            <li><a data-toggle="tab" href="#costs">Costs</a></li>
            <li class="active"><a data-toggle="tab" href="#clients">Clients</a></li>
            <li><a data-toggle="tab" href="#suppliers">Suppliers</a></li>
        </ul>

        <!-- this is the content displayed in each tab -->
        <div class="tab-content">
            <!-- content for the costs treeview -->
            <div id="costs" class="tab-pane fade">
                <div class="left">
                    <button #id="open-projects-overlay" rel="#project-select-overlay" type="button">Open a Project</button>
                    <div ng-controller="projectlistController">
                        <!-- project select will only be shown when the overlay is active -->
                        <div class="overlay" id="project-select-overlay" style="display:none;">
                            <a class="close"></a>
                            <div>&nbsp;</div>
                            <span> Select project to open: </span>
                            <span>
                                <select id="project-select">
                                    <option ng-repeat="obj in projectsList" value="{{obj.ID}}">{{obj.Name}}</option>
                                </select>
                            </span>
                            <div>&nbsp;</div>
                            <button id="select-project-submit" type="submit" class="close"> Select </button>
                            <button type="button" class="close"> Cancel </button>
                        </div>
                    </div>

                    <div ng-controller="treeviewController">
                         <div
                            data-angular-treeview="true"
                            data-tree-id="mytree"
                            data-tree-model="roleList"
                            data-node-id="ID"
                            data-node-label="Name"
                            data-node-description="Description"
                            data-node-children="Subitem" >
                        </div>
                        <div class="info-box">
                            <span>
                                <b>Selected Node ID: </b>{{mytree.currentNode.ID}}<br>
                                <b>Selected Node description: </b>{{mytree.currentNode.Description}}<br>
                                <b>Selected Node type: </b>{{mytree.currentNode.NodeType}}<br>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div id="optimate-data-grid-outer">
                        <div id="optimate-data-grid"></div>
                    </div>
                </div>
            </div>
            <!-- content for the clients table -->
            <div id="clients" class="tab-pane fade in active">
                <div ng-controller="clientsController">

                    <a href="#addClientModal" class="btn btn-lg btn-primary" data-toggle="modal">Add new client</a>
                    <div id="addClientModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 class="modal-title">Add a new client</h3>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <br>Name:
                                        <input type="text"
                                                name="inputName"
                                                ng-model="formData.inputName"
                                                required
                                                autofocus>
                                        <br>Address:
                                        <input type="text"
                                                name="inputAddress"
                                                ng-model="formData.inputAddress">
                                        <br>City:
                                        <input type="text"
                                                name="inputCity"
                                                ng-model="formData.inputCity">
                                        <br>State/Province:
                                        <input type="text"
                                                name="inputStateProvince"
                                                ng-model="formData.inputStateProvince">
                                        <br>Country:
                                        <input type="text"
                                                name="inputStateCountry"
                                                ng-model="formData.inputCountry">
                                        <br>Zip Code:
                                        <input type="text"
                                                name="inputZip"
                                                ng-model="formData.inputZip">
                                        <br>Phone:
                                        <input type="text"
                                                name="inputPhone"
                                                ng-model="formData.inputPhone">
                                        <br>Fax:
                                        <input type="text"
                                                name="inputFax"
                                                ng-model="formData.inputFax">
                                        <br>Cellular:
                                        <input type="text"
                                                name="inputCellular"
                                                ng-model="formData.inputCellular">
                                        <br>Contact:
                                        <input type="text"
                                                name="inputContact"
                                                ng-model="formData.inputContact">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewClient()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script type="text/ng-template" id="editClientModal.html">
                        <div class="modal-header">
                            <h3>Edit client</h3>
                        </div>
                        <div class="modal-body">
                            <form>
                                <br>Name:
                                <input type="text"
                                        name="inputName"
                                        ng-model="editingClient['Name']"
                                        required
                                        autofocus>
                                <br>Address:
                                <input type="text"
                                        name="inputAddress"
                                        ng-model="editingClient['Address']">
                                <br>City:
                                <input type="text"
                                        name="inputCity"
                                        ng-model="editingClient['City']">
                                <br>State/Province:
                                <input type="text"
                                        name="inputStateProvince"
                                        ng-model="editingClient['StateProvince']">
                                <br>Country:
                                <input type="text"
                                        name="inputStateCountry"
                                        ng-model="editingClient['Country']">
                                <br>Zip Code:
                                <input type="text"
                                        name="inputZip"
                                        ng-model="editingClient['Zipcode']">
                                <br>Phone:
                                <input type="text"
                                        name="inputPhone"
                                        ng-model="editingClient['Phone']">
                                <br>Fax:
                                <input type="text"
                                        name="inputFax"
                                        ng-model="editingClient['Fax']">
                                <br>Cellular:
                                <input type="text"
                                        name="inputCellular"
                                        ng-model="editingClient['Cellular']">
                                <br>Contact:
                                <input type="text"
                                        name="inputContact"
                                        ng-model="editingClient['Contact']">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="editClient()">Done</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>

                    <table class="table-hover">
                        <tr ng-repeat="obj in jsonclients">
                          <td>{{obj.Name}}</td>
                          <td>{{obj.City}}</td>
                          <td>{{obj.Address}}</td>
                          <td>{{obj.Phone}}</td>
                          <td><button ng-click="getEditClient(obj.ID)">Edit</button></td>
                          <td><button ng-click="deleteClient(obj.ID)">Delete</button></td>
                        </tr>
                    </table>


                </div>
            </div>
            <!-- content for the suppliers table -->
            <div id="suppliers" class="tab-pane fade">
                <div ng-controller="suppliersController">

                    <a href="#addSupplierModal" class="btn btn-lg btn-primary" data-toggle="modal">Add new supplier</a>
                    <div id="addSupplierModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Confirmation</h4>
                                </div>
                                <div class="modal-body">
                                <form>
                                <br>Name:
                                <input type="text"
                                        name="inputName"
                                        ng-model="formData.inputName"
                                        required
                                        autofocus>
                                <br>Address:
                                <input type="text"
                                        name="inputAddress"
                                        ng-model="formData.inputAddress">
                                <br>City:
                                <input type="text"
                                        name="inputCity"
                                        ng-model="formData.inputCity">
                                <br>State/Province:
                                <input type="text"
                                        name="inputStateProvince"
                                        ng-model="formData.inputStateProvince">
                                <br>Country:
                                <input type="text"
                                        name="inputStateCountry"
                                        ng-model="formData.inputCountry">
                                <br>Zip Code:
                                <input type="text"
                                        name="inputZip"
                                        ng-model="formData.inputZip">
                                <br>Phone:
                                <input type="text"
                                        name="inputPhone"
                                        ng-model="formData.inputPhone">
                                <br>Fax:
                                <input type="text"
                                        name="inputFax"
                                        ng-model="formData.inputFax">
                                <br>Cellular:
                                <input type="text"
                                        name="inputCellular"
                                        ng-model="formData.inputCellular">
                                <br>Contact:
                                <input type="text"
                                        name="inputContact"
                                        ng-model="formData.inputContact">
                            </form>
                            </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewSupplier()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table-hover">
                         <tr ng-repeat="obj in jsonsuppliers">
                          <td>{{obj.Name}}</td>
                          <td>{{obj.City}}</td>
                          <td>{{obj.Address}}</td>
                          <td>{{obj.Phone}}</td>
                          <td><button ng-click="getEditSupplier(obj.ID)">Edit</button></td>
                          <td><button ng-click="deleteSupplier(obj.ID)">Delete</button></td>
                         </tr>
                    </table>

                    <script type="text/ng-template" id="editSupplierModal.html">
                        <div class="modal-header">
                            <h3>Edit client</h3>
                        </div>
                        <div class="modal-body">
                            <form>
                                <br>Name:
                                <input type="text"
                                        name="inputName"
                                        ng-model="editingSupplier['Name']"
                                        required
                                        autofocus>
                                <br>Address:
                                <input type="text"
                                        name="inputAddress"
                                        ng-model="editingSupplier['Address']">
                                <br>City:
                                <input type="text"
                                        name="inputCity"
                                        ng-model="editingSupplier['City']">
                                <br>State/Province:
                                <input type="text"
                                        name="inputStateProvince"
                                        ng-model="editingSupplier['StateProvince']">
                                <br>Country:
                                <input type="text"
                                        name="inputStateCountry"
                                        ng-model="editingSupplier['Country']">
                                <br>Zip Code:
                                <input type="text"
                                        name="inputZip"
                                        ng-model="editingSupplier['Zipcode']">
                                <br>Phone:
                                <input type="text"
                                        name="inputPhone"
                                        ng-model="editingSupplier['Phone']">
                                <br>Fax:
                                <input type="text"
                                        name="inputFax"
                                        ng-model="editingSupplier['Fax']">
                                <br>Cellular:
                                <input type="text"
                                        name="inputCellular"
                                        ng-model="editingSupplier['Cellular']">
                                <br>Contact:
                                <input type="text"
                                        name="inputContact"
                                        ng-model="editingSupplier['Contact']">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="editSupplier()">Done</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
